body, ul, li, ul li, ol, table, tr, tbody, td, h1, h2, h3, h4, h5, h6, form, input, select {margin: 0px; padding:0; font-family:'open_sansregular', Tahoma, Geneva, sans-serif; list-style-type: none;}

.clear{clear:both;}
#nearByCountDivPoi{color: #268512; font-size: 12px; margin: 0; padding: 15px 0 0 192px;}
.viewOnMapContainer{padding:10px 0px !important; overflow:hidden; width:auto; position:relative;}
.viewOnMapContainer .mapTabContainer{background:#fafafa; height:47px; box-shadow:0px 2px 4px rgba(0,0,0,.3); position:relative; z-index:15;}
.viewOnMapContainer .mapCatogaries{padding:0px 0px 8px 0px; margin:0px; font-size:11px; color:#7b7b7b;}
.viewOnMapContainer .mapTabSec{padding:0px; margin:0px; float:left;}
.viewOnMapContainer .mapTabSec ul{padding:0px; margin:0px; list-style-type:none;}
.viewOnMapContainer .mapTabSec ul li{padding:15px 18px 13px; margin:0px; border-bottom:2px solid transparent; float:left; font-size:14px; color:#666666; cursor:pointer;}
.viewOnMapContainer .mapTabSec ul li:hover{border-bottom-color:#c0392b; color:#333333;}
.viewOnMapContainer .mapTabSec ul li.active{border-bottom-color:#c0392b; color:#2a2a2a;}
.viewOnMapContainer .mapTabMore{padding:4px 0px 5px 20px; margin:11px 9px 0px 0px; float:right; width:70px; font-size:14px; color:#666666; border:1px solid #cccccc; border-radius:4px; background:#f8f8f8; position:relative; cursor:pointer;}
.viewOnMapContainer .mapTabMore .mapMoreArrow{position:absolute; right:18px; top:13px; width:0px; height:0px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:4px solid #666666; vertical-align:middle;}
.viewOnMapContainer .mapPoiTabMoreDropDown{position:absolute; right:-1px; top:30px; z-index:15; width:135px; background:#ffffff; box-shadow:0 1px 2px rgba(0, 0, 0, 0.4); display:none;}
.viewOnMapContainer .mapPoiTabMoreDropDown ul{padding:0px; margin:0px; list-style-type:none;}
.viewOnMapContainer .mapPoiTabMoreDropDown ul li{padding:6px 10px; margin:0px; cursor:pointer;}
.viewOnMapContainer .mapPoiTabMoreDropDown ul li:hover{background:#f5f5f5;}
.viewOnMapContainer .mapTabMore:hover .mapPoiTabMoreDropDown{display:block;}

.mapSecCont{padding:0px; margin:0px; position:relative;}
.nearestPoiCont{padding:0px 6px 10px 0px; margin:0px; position:absolute; left:10px; top:10px; z-index:9; width:304px; max-height:470px; background:url(../images/poiContBg.png) repeat; border:1px solid #e4e4e4;}
.nearestPoiCont .nearestHeading{padding:16px 0px 19px 19px; margin:0px;}
.nearestPoiCont .within{float:left; color:#333333; font-size:14px; padding:5px 0px 0px 0px;}
.nearestPoiCont .nearestDistance{padding:0px; margin:0px 9px 0px 12px; float:left; width:102px; height:28px; font-size:14px; color:#666666; border:1px solid #cccccc; border-radius:4px; background:#f8f8f8; position:relative; cursor:pointer;}
.nearestPoiCont .nearestDistance select{position:absolute; width:100%; height:100%; left:0px; top:0px; opacity:0; cursor:pointer;}
.nearestPoiCont #nearestDisValue{padding:4px 0px 0px 18px; display:block; color:#2a2a2a;}
.nearestPoiCont .nearestDistance .mapMoreArrow{position:absolute; right:25px; top:12px; width:0px; height:0px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:4px solid #666666; vertical-align:middle;}
.nearestPoiCont .nearestDistance ul{position:absolute; left:0px; top:29px; z-index:15; width:102px; background:#ffffff; box-shadow:0 0 2px rgba(0, 0, 0, 0.4); display:none;}
.nearestPoiCont .nearestDistance ul li{padding:6px 10px; margin:0px; cursor:pointer;}
.nearestPoiCont .nearestDistance ul li:hover{background:#f5f5f5;}
.nearestPoiCont .nearestDistance:hover ul.listHover{display:block;}
.nearestPoiScroll{max-height:400px; min-height:40px; overflow-x:hidden; overflow-y:auto;}
.nearestPoiScroll.nano{height:auto;}
.nearestPoiScroll.nano > .pane{background:rgba(0,0,0,.1);}
.nearestPoiScroll.nano > .pane > .slider{background:rgba(0,0,0,.15); cursor:pointer;}

.nearestPoi{}
.nearestPoi ul{padding:0px; margin:0px; list-style-type:none;}
.nearestPoi li{padding:10px 9px 10px 9px; margin:0px 22px 0px 10px; font-size:14px; border-top:1px solid #e4e4e4; cursor:pointer;}
.nearestPoi li .catHeading{padding:0px 0px 8px 18px; font-size:14px; color:#333333; font-family:"opensans-semibold";}
.nearestPoi li .catHeading .poiDistance{padding:2px 0px 0px 0px; font-size:12px; color:#333; float:right; font-family:'open_sansregular';}
.nearestPoi li .catHeading .poiDistance b{font-weight:normal;}
.nearestPoi li .catHeading .poiDistance img{vertical-align:1px; margin-left:2px;}
.nearestPoi li .poiNameValue{padding-left:18px; font-size:14px; color:#333333; cursor:pointer;}
.nearestPoi li .singlePoiDis{font-size:12px; color:#333; font-family:"open_sansregular"; padding:5px 0px 0px 18px;}
.nearestPoi li .singlePoiDis b{font-weight:normal;}
.nearestPoi li .singlePoiDis img{vertical-align:1px; margin-left:2px;}

.nearestPoi li.busStop:hover{background-color:rgba(252, 179, 0, 0.1);}
.nearestPoi li.busStop.active{background-color:rgba(252, 179, 0, 0.1);}

.nearestPoi li.schools:hover{background-color:rgba(76, 175, 206, 0.1);}
.nearestPoi li.schools.active{background-color:rgba(76, 175, 206, 0.1);}

.nearestPoi li.shopping:hover{background-color:rgba(246, 36, 89, 0.1);}
.nearestPoi li.shopping.active{background-color:rgba(246, 36, 89, 0.1);}

.nearestPoi li.hospital:hover{background-color:rgba(38, 194, 129, 0.1);}
.nearestPoi li.hospital.active{background-color:rgba(38, 194, 129, 0.1);}

.nearestPoi li.bankAtm:hover{background-color:rgba(251, 140, 32, 0.1);}
.nearestPoi li.bankAtm.active{background-color:rgba(251, 140, 32, 0.1);}

.nearestPoi li.metroTrain:hover{background-color:rgba(130, 156, 221, 0.1);}
.nearestPoi li.metroTrain.active{background-color:rgba(130, 156, 221, 0.1);}

.nearestPoi li.worship:hover{background-color:rgba(195, 81, 43, 0.1);}
.nearestPoi li.worship.active{background-color:rgba(195, 81, 43, 0.1);}

.nearestPoi li.groceryStore:hover{background-color:rgba(126, 211, 0, 0.1);}
.nearestPoi li.groceryStore.active{background-color:rgba(126, 211, 0, 0.1);}

.nearestPoi li.pharmacy:hover{background-color:rgba(247, 91, 75, 0.1);}
.nearestPoi li.pharmacy.active{background-color:rgba(247, 91, 75, 0.1);}

.nearestPoi li.restorant:hover{background-color:rgba(68, 108, 179, 0.1);}
.nearestPoi li.restorant.active{background-color:rgba(68, 108, 179, 0.1);}

.nearestPoi li.movie:hover{background-color:rgba(142, 68, 173, 0.1);}
.nearestPoi li.movie.active{background-color:rgba(142, 68, 173, 0.1);}

.nearestPoi li.parks:hover{background-color:rgba(7, 171, 160, 0.1);}
.nearestPoi li.parks.active{background-color:rgba(7, 171, 160, 0.1);}

.nearestPoi li.gym:hover{background-color:rgba(170, 129, 211, 0.1);}
.nearestPoi li.gym.active{background-color:rgba(170, 129, 211, 0.1);}

.nearestPoi li.petrolPump:hover{background-color:rgba(224, 50, 134, 0.1);}
.nearestPoi li.petrolPump.active{background-color:rgba(224, 50, 134, 0.1);}

.nearestPoi li.airPort:hover{background-color:rgba(24, 181, 254, 0.1);}
.nearestPoi li.airPort.active{background-color:rgba(24, 181, 254, 0.1);}

.nearestPoi li.poiNameSec .poiNameValue{}

.nearestPoi li .poiSmallIcon{padding:0px; margin:0px 6px 0px -18px; display:inline-block; vertical-align:middle; width:12px; height:16px; background-image:url(../images/mapPoiTabIcon3.png); background-repeat:no-repeat; background-position:0px 0px;}
.nearestPoi li .mapIconBusStop{background-position:0px 0px;}
.nearestPoi li .mapIconSchools{background-position:0px -44px;}
.nearestPoi li .mapIconShopping{background-position:0px -87px;}
.nearestPoi li .mapIconHospital{background-position:0px -131px;}
.nearestPoi li .mapIconBankAtm{background-position:0px -174px;}
.nearestPoi li .mapIconMetroTrain{background-position:0px -218px;}
.nearestPoi li .mapIconWorship{background-position:0px -261px;}
.nearestPoi li .mapIconGroceryStore{background-position:0px -305px;}
.nearestPoi li .mapIconPharmacy{background-position:0px -349px;}
.nearestPoi li .mapIconRestorant{background-position:0px -392px;}
.nearestPoi li .mapIconMovie{background-position:0px -436px;}
.nearestPoi li .mapIconParks{background-position:0px -479px;}
.nearestPoi li .mapIconGym{background-position:0px -523px;}
.nearestPoi li .mapIconPetrolPump{background-position:0px -566px;}
.nearestPoi li .mapIconAirPort{background-position:0px -610px;}

.viewOnMapContainer .mapContainer{position:relative; height:510px;}

.mapTooltip{padding:0px 0px 8px 0px; margin:-112px 0px 0px -25px; min-width:210px; box-shadow:0px 1px 4px 0px rgba(0,0,0,.3); font-family:Tahoma, Arial, Helvetica, sans-serif; background:#ffffff; border-radius:4px;}
.mapTooltip .mapTooltipTitle{padding:6px 12px 7px; margin:0px; font-size:13px; font-weight:bold; color:#fff; background:#6b86cb; border-radius:4px 4px 0px 0px;}
.mapTooltip .mapTooltipDesc{padding:3px 12px 0px 12px; margin:0px; font-size:12px; color:#666;}
.mapTooltip .mapTooltipDesc b{font-weight:normal; font-family:"opensans-bold";}
.mapTooltip .mapTooltipDesc img{vertical-align:middle;}
.mapTooltip .mapTooltipArrowSec{position:relative;}
.mapTooltip .mapTooltipArrowShadow{width:0px; height:0px; position:absolute; left:13px; bottom:-22px; border-left:12px solid transparent; border-right:12px solid transparent; border-top:14px solid #d0d0d0; opacity:.5;}
.mapTooltip .mapTooltipArrow{width:0px; height:0px; position:absolute; left:15px; bottom:-19px; border-left:10px solid transparent; border-right:10px solid transparent; border-top:12px solid #ffffff; z-index:9;}


.bodyOverFlow{overflow:hidden;}
.mapClosePanel{display:none; padding:5px 12px 0px 0px; height:23px; background:#ffffff; overflow:hidden;}
.mapClosePanel .mapCloseIcon{float:right; width:16px; height:16px; background:url(../images/mapCloseIcon.png) no-repeat left top; cursor:pointer;}

.mapPosfix{padding:0px !important; margin:20px; position:fixed; left:0px; top:0px; right:0px; bottom:0px; z-index:999999; background:#ffffff; box-shadow:0px 0px 12px rgba(0,0,0,.2);}
.mapPosfix .iconPoweredByGoogle{display:none;}
.mapPosfix .disclaimer{display:none;}
.btnMapFullScreenBg{padding:0px; margin:0px; position:absolute; top:0px; right:0px; background:#000000; width:130px; height:40px; z-index:10; opacity:.5;}
.btnMapFullScreen{padding:10px 0px 0px 45px; margin:0px; position:absolute; top:0px; right:0px; width:85px; height:30px; font-size:14px; font-weight:bold; color:#ffffff; background:url(../images/btnMapFull.png) no-repeat 12px 10px; z-index:11; cursor:pointer;}
.btnMapFullScreenExit{display:none; padding:10px 0px 0px 0px; margin:0px; position:absolute; top:0px; right:0px; width:130px; height:30px; font-size:14px; font-weight:bold; color:#ffffff; z-index:11; cursor:pointer; text-align:center;}
.fullScreenOverLapBg{display:none; position:fixed; left:0px; top:0px; right:0px; bottom:0px; background-color:rgba(0,0,0, 0.7); z-index:999998;}

#gMapLoader{position:absolute; left:50%; top:120px; margin:0px 0px 0px -50px;}

.viewOnMapContainer .mapResultContainer{border:1px solid #d5d5d5; background:url(../images/mapPoiResultNavBg.jpg) repeat-y left top;}
.viewOnMapContainer .mapResultContainer .mapResultNav{padding:9px 0px; margin:0px; width:168px; float:left; overflow:hidden;}
.viewOnMapContainer .mapResultContainer .mapResultNav ul{padding:0px; margin:0px; list-style-type:none;}
.viewOnMapContainer .mapResultContainer .mapResultNav ul li{padding:5px 12px; margin:0px; font-size:12px; color:#000000; border-left:4px solid transparent; border-top:1px solid #d8d8d8; cursor:pointer;}
.viewOnMapContainer .mapResultContainer .mapResultNav ul li:first-child{border-top:none;}
.viewOnMapContainer .mapResultContainer .mapResultNav ul li:hover{border-left-color:#484744; background:#ffffff;}
.viewOnMapContainer .mapResultContainer .mapResultNav ul li.active{box-shadow:-4px 0px 4px 0px #bbbbbb; border-left-color:#484744; font-weight:bold; background:#ffffff;}
.viewOnMapContainer .mapResultContainer .mapResultDataCont{padding:15px 0px 6px 21px; margin:0px; float:left; width:460px;}
.viewOnMapContainer .mapResultContainer .mapResultDataCont .mapResultDataLabel{padding:0px 0px 5px 3px; margin:0px; font-size:12px; color:#268512;}
.viewOnMapContainer .mapResultContainer .mapResultTable{padding:0px; margin:0px;}
.viewOnMapContainer .mapResultContainer .mapResultTable ul{padding:0px; margin:0px; list-style-type:none;}
.viewOnMapContainer .mapResultContainer .mapResultTable ul li{padding:5px 0px; margin:0px; border-bottom:1px dotted #dadada; font-size:12px; color:#545454; overflow:hidden;}
.viewOnMapContainer .mapResultContainer .mapResultTable ul li .discDot{padding:0px; margin:6px 7px 0px 3px; float:left; width:5px; height:5px; background:#818180; border-radius:100%;}
.viewOnMapContainer .mapResultContainer .mapResultTable ul li .column_1{width:290px; float:left; font-weight:bold;}
.viewOnMapContainer .mapResultContainer .mapResultTable ul li .column_2{width:155px; float:left;}
.viewOnMapContainer .mapResultContainer .mapResultTable ul li a{color:#194ab3; text-decoration:none;}
.viewOnMapContainer .mapResultContainer .mapResultTable ul li a:hover{text-decoration:underline;}
.viewOnMapContainer .mapResultContainer .mapNextPrevCont{padding:6px 0px 4px 0px; margin:0px; float:right; font-size:11px; color:#a2a2a2;}
.viewOnMapContainer .mapResultContainer .mapNextPrevCont a{text-decoration:none; display:inline-block;}
.viewOnMapContainer .mapResultContainer .mapNextPrevCont .mapNextIcon{display:inline-block; width:13px; height:13px; vertical-align:-3px; background:url(../images/mapPoiTabIcon.png) no-repeat 0px 0px;}
.viewOnMapContainer .mapResultContainer .mapNextPrevCont .mapNext{padding:0px 0px 0px 4px; margin:0px; color:#7a7a7a;}
.viewOnMapContainer .mapResultContainer .mapNextPrevCont .mapNext .mapNextIcon{background-position:0px -1089px; margin-left:2px;}
.viewOnMapContainer .mapResultContainer .mapNextPrevCont .mapNext.disable{color:#a2a2a2;}
.viewOnMapContainer .mapResultContainer .mapNextPrevCont .mapNext.disable .mapNextIcon{background-position:0px -1113px;}
.viewOnMapContainer .mapResultContainer .mapNextPrevCont .mapPrev{padding:0px 4px 0px 0px; margin:0px; color:#7a7a7a;}
.viewOnMapContainer .mapResultContainer .mapNextPrevCont .mapPrev .mapNextIcon{background-position:0px -1042px; margin-right:2px;}
.viewOnMapContainer .mapResultContainer .mapNextPrevCont .mapPrev.disable{color:#a2a2a2;}
.viewOnMapContainer .mapResultContainer .mapNextPrevCont .mapPrev.disable .mapNextIcon{background-position:0px -1066px;}
.viewOnMapContainer .disclaimer{padding:10px; margin:0px; font-size:11px; color:#4b4949; line-height:16px;}
.viewOnMapContainer .disclaimer strong{font-weight:bold;}


/*Css for locality info*/
.localityContainer .localityPoiContainer{padding:0px; margin:0px 7px 20px; border:1px solid #d5d5d5; border-right:0; background:url(../images/mapPoiResultNavBg.jpg) repeat-y left top; position:relative;border-top: 0; border-left:none;}
.localityContainer .localityPoiContainer .localityPoiNav{padding:9px 0px 0px; margin:0px; width:168px; float:left; overflow:hidden;}
.localityContainer .localityPoiContainer .localityPoiNav ul{padding:0px; margin:0px; list-style-type:none;}
.localityContainer .localityPoiContainer .localityPoiNav ul li{padding:5px 12px; margin:0px; font-size:12px; color:#000000; border-left:4px solid transparent; border-top:1px solid #d8d8d8; cursor:pointer;}
.localityContainer .localityPoiContainer .localityPoiNav ul li:first-child{border-top:none;}
.localityContainer .localityPoiContainer .localityPoiNav ul li:hover{border-left-color:#484744; background:#ffffff;}
.localityContainer .localityPoiContainer .localityPoiNav ul li.active{box-shadow:-4px 0px 4px 0px #bbbbbb; border-left-color:#484744; font-weight:bold; background:#ffffff;}
.localityContainer .localityPoiContainer .localityPoiDataCont{padding:5px 0px 130px 21px; margin:0px; float:left; width:460px; display:none;}
.localityContainer .localityPoiContainer .localityPoiTable{padding:0px; margin:0px;}
.localityContainer .localityPoiContainer .localityPoiTable ul{padding:0px; margin:0px; list-style-type:none;}
.localityContainer .localityPoiContainer .localityPoiTable ul li{padding:5px 0px; margin:0px; border-bottom:1px dotted #dadada; font-size:12px; color:#545454; overflow:hidden;}
.localityContainer .localityPoiContainer .localityPoiTable ul li .discDot{padding:0px; margin:6px 7px 0px 3px; float:left; width:5px; height:5px; background:#268512; border-radius:100%;}
.localityContainer .localityPoiContainer .localityPoiTable ul li .column_1{width:290px; float:left; font-weight:bold;}
.localityContainer .localityPoiContainer .localityPoiTable ul li .column_2{width:155px; float:left;}
.localityContainer .localityPoiContainer .localityPoiTable ul li a{color:#194ab3; text-decoration:none;}
.localityContainer .localityPoiContainer .localityPoiTable ul li a:hover{text-decoration:underline;}
.localityContainer .localityPoiContainer .localityPoiImg{position:absolute; right:0px; bottom:0px;}
.moreInfoCont{margin-top: 7px;}

#nearByCountDiv.redColor{color:#545454;}
#nearByCountDivPoi{padding:15px 0px 0px 192px; margin:0px; font-size:12px; color:#268512;}
#nearByCountDivPoi.redColor{color:#545454;}

#bodyFrameId .btnMapFullScreenBg{display:none;}
#bodyFrameId .btnMapFullScreen{display:none;}
#bodyFrameId .btnMapFullScreenExit{display:none;}
#bodyFrameId .iconPoweredByGoogle{display:none;}
#bodyFrameId .disclaimer{display:none;}
#bodyFrameId .viewOnMapContainer{padding:0px !important;}
#bodyFrameId .nearestPoiScroll{max-height:370px;}
#bodyFrameId .viewOnMapContainer .mapContainer{overflow:visible !important;}