html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}img{max-width:100%}

body{font-family:'Open Sans', sans-serif !important;padding:0;margin:0; font-size:14px; line-height:30px;}

.main-Container{width:100%; box-sizing:border-box;float:left;}
header{height:60px;position:relative; }
.w100{ position:fixed;height:60px;left:0; top:0; background:#fff; width:100%;z-index: 9999; -webkit-box-shadow: 0px 0px 8px 2px #f1f1f1;
       -moz-box-shadow: 0px 0px 8px 2px #f1f1f1;
            box-shadow: 0px 0px 8px 2px #f1f1f1;}
.shadow{box-shadow:0 2px 4px #ddd;}
.middleWrapper{width:1170px; margin:0 auto;}
.topbrand{float:left;}
.nav-rhs{float:right;height:35px;margin:10px 0 0 0;}
.nav-rhs1{ display:none;}
.bar,.swiper-button-next, .swiper-button-prev,.lhsAminities li,.lhsSpec li{background:url(../images/sprites.png) no-repeat;}
.bar{ display:none;line-height:35px; text-indent:-9999px; position:absolute;right:10px;width:20px;height:20px;top:22px;background-position:0 0;}
.none{display:none;}
.navigation{clear:both; z-index:999}
.navigation li{position:relative;/*text-transform:uppercase;*/float:left;font-size:14px; margin:0 0 0 20px}
.navigation > li > a{color:#7a7a7a;line-height:30px;text-decoration:none;height:35px;line-height:35px; display:block;}
.navigation a.contact{ background-color: #00368b;    border-color: #103365; display:block; padding:0px 10px; margin-top:0px; color:#fff;}
.navigation a.contact:hover{ background-color:#103365;}


.navigation li a:hover {border-bottom: 2px solid #00368b; }
.navigation li:last-child a:hover{border-bottom:0px solid #00368b; }

.navigation  > li > a:focus, .navigation  > li > a:hover {border-bottom: 2px solid #00368b; }
.navigation  > li.textDecoration  a{border-bottom: 2px solid #00368b; }

.footer-link{color:#fff !important; text-decoration:underline;}
.field-div{width:100%;}
.field-div input{width: 93%;height: 30px;border: 1px solid #ccc;margin: 7px;padding: 5px;}
.field-div textarea{width: 93%;border: 1px solid #ccc;margin: 7px;padding: 5px;}
.field-div button{background-color: #00368b;border-color: #103365;padding: 7px 10px;margin-top: 0px;color: #fff;}

.cb20{ clear:both; height:40px; }
.cb1{clear:both; height:1px; width:100%;}
.cb10{height:10px; clear:both; width:100%;}
.headerBanner{ float:left; position:relative; padding-top:60px}
.overlay{width:100%; height:100%; z-index:9999; background:#000; opacity:0.7; position:absolute; top:0; left:0; display:none}

.headerBanner .swiper-slide img{width:100% !important; height:auto;}

/*slider css End*/

.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1}

.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}

.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}

.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}

.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}

.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-transition-property:-webkit-transform,height;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform,height}

.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:7px;height:10px;margin-top:-5px;z-index:10;cursor:pointer;background-repeat:no-repeat; background-position:0 0;}


.imageless{ background:none;}	
.bankless{ background:none;}
.specificationless{ background:none;}

/*.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}*/

.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:5px;right:auto; background-position:-108px -3px}

.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:5px;left:auto; background-position:-119px -3px}



.swiper-button-prev1{left:0px;right:auto;left:5px;right:auto;  background-position:1px -78px;  height:40px; width:32px; }
.swiper-button-next1{right:5px;left:auto;  background-position:-42px -78px; width:40px; height:40px;}


.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}


.swiper-pagination.swiper-pagination-hidden{opacity:0}

.swiper-pagination1{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}


.swiper-pagination1.swiper-pagination-hidden{opacity:0}



.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}

.swiper-pagination-bullet{width:6px;height:6px;display:inline-block;border-radius:100%;background:#00368b;vertical-align: middle;}

button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none}
.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}
.swiper-pagination-white .swiper-pagination-bullet{background:#fff}
.swiper-pagination-bullet-active{opacity:1;background:#007aff}
/*.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}
.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}*/
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:5px 0;display:block}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}
/*slider css End*/

.swiper-container {width: 100%;height: 100%;}
.swiper-container1 {width: 100%; height: 100%; border: 1px solid #ddd; padding:3px 3px 2px 3px;}
.swiper-slide {text-align: center;font-size: 18px;background: #fff;
/* Center slide text vertically display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;
-webkit-justify-content: center;justify-content: center;webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;*/}

.headerBanner .swiper-pagination{position:absolute;bottom:10px;}
.headerBanner .swiper-pagination-bullet{border: 0px;border-radius:0;margin-right:10px;}
.headerBanner .swiper-pagination-bullet-active{background: rgba(0,0,0,0);width:8px;height:8px;border:2px solid #ffffff;border-radius:0;}
.rowSecond{clear:both; padding-top:40px;}

.cols1{width:472px;float:left; margin-top:16px;}
.cols2{width:58%;float:right}
.cols2 h1{/*text-transform:uppercase;*/font-size:30px;margin:0;padding:0;color:#2c2d31}
.cols2 p{margin:0;padding:0;font:14px/30px 'Open Sans', sans-serif;color:#7a7a7a;padding-top:20px;padding-bottom:10px;text-align:left}
.cols2 .read{padding:0;clear:both;display:inline-block;padding-top:10px;font:14px 'Open Sans', sans-serif;color:#577ab5; cursor:pointer;text-decoration:underline}
.cols2 .read a{color:#577ab5;text-decoration:underline}
.cols2 .read span{display:none}

.readMore{display:none}
.download{margin:20px 0 0}
.download li{display:inline-block;/*text-transform:uppercase;*/padding:0 26px 10px 25px;margin-right:26px;position:relative;font:normal 14px/19px 'Open Sans', sans-serif}
.download li:before{width:19px;height:16px;content:'';position:absolute;left:0;top:0;background:url(../images/download-icon.png) no-repeat}
.download li:after{background:url(../images/sep.jpg) no-repeat right;width:19px;height:16px;content:'';position:absolute;right:0;top:0}
.download li:last-child:after{background:none}
.download li a{ color:#7a7a7a; text-decoration:none;} 
.download li a:hover{ color:#7a7a7a; text-decoration:underline;} 
.bank-approval{ color:#2c2d31; /*text-transform:uppercase;*/font-size:14px; color:#2c2d31; padding-top:20px; padding-bottom:15px; font-weight:600;}
.greenBg{background-color:#00368b;padding:10px 20px;}
.cols1 h1{color:#fff;font:700 28px 'Open Sans', sans-serif;/*text-transform:uppercase;*/padding-bottom:0px}
.cols1 h2{margin:0;padding:0;color:#fff;font-size:17px;line-height:24px;padding-bottom:8px; font-weight:600;}
.cols1 h2 span{display:block;}
.cols1 h3{color:#fff;font-size:18px;font-weight:600; padding-bottom:8px;}
.cols1 h3 span{color:#ffff00;/*text-transform:uppercase;*/}

	
.video-img{width:100%;}
.description{clear:both;margin-top:20px;  border:1px solid #ececec;content:" "; overflow:hidden }
.description .sep{border-right:1px solid #ececec;/* height:130px;*/}
.description .col-md-3{width:25%;float:left;box-sizing:border-box}
.description .col-md-4{width:33.3%;float:left;box-sizing:border-box}
.description .col-md-6{width:50%;float:left;box-sizing:border-box}


.description ul{padding:20px 0 20px 0; }
.description ul li{font:normal 14px/40px 'Open Sans', sans-serif;background:url(../images/arrow.png) no-repeat 0 15px;border:0 solid #000;padding-left:15px;margin-left:20px; padding-bottom:0px; }
.description ul li strong{ font-weight:600; }
.rel{ position:relative}
.bankLogo.swiper-container{/*width:92%;*/ width:100%}
.bankLogo .swiper-slide{width:140px; box-sizing:border-box;  float: left;border:1px solid #ddd; }

.amenities-bg{ background-color:#f7f7f7; margin-top:60px; padding-bottom:60px; overflow:hidden}
.lhsAminities{width:573px;float:left;margin-right:120px; box-sizing:border-box;}
.lhsAminities h1{color:#2c2d31;/* text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif; padding-top:30px;padding-bottom:30px; box-sizing:border-box; }
.lhsAminities ul{width:100%; float:left;}
.lhsAminities li{width:50%; font:14px/30px 'Open Sans', sans-serif; color:#666666; padding:0 10px 0 15px;  box-sizing:border-box; float:left; background-position:-119px 7px; }
.rhsAminities{ width:477px; float:left; margin-top:60px; }
.slimScrollRail{ width:3px !important; margin:auto; right:2px !important;}

/*Specification starts*/
.spec-bg{background:url(../images/spec-bg.jpg); padding:30px 0px 50px 0px; position:relative;}
.specSlider.swiper-container{width:100%;margin:0 auto ;}
.spec-bg h1{color:#fff;/*text-transform:uppercase; */font:30px 'Open Sans', sans-serif; padding:0 0 20px 0%; width:100%; box-sizing:border-box }
.lhsSpec{width:100%;float:left; padding-right:30px; box-sizing:border-box; }
.spec-bg .rhsSpec{float:right;}
.spec-bg .swiper-slide{background:none;box-sizing:border-box; ;}
.spec-container{width:100%; margin:auto; padding:0px;  overflow:hidden; color:#fff; line-height:30px; font-size:14px;}
.lhsSpec h2{font:600 22px 'Open Sans', sans-serif;color:#fff;padding:10px 0; margin-left:0px;background:url(../images/underline.jpg) no-repeat left bottom; text-align:left}
.lhsSpec ul{ margin-top:20px;}
.lhsSpec li{ background-position:-119px 7px;  padding-left:15px; margin-top:5px; font:normal 14px/30px 'Open Sans', sans-serif;color:#fff; text-align:left}
/*Specification End*/


.unit h1{color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif; padding-top:50px; padding-bottom:40px;  width:100%; box-sizing:border-box}
.cal{ background-color:#f7f7f7;  padding-bottom:40px; overflow:hidden}
.cal h1{color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif; padding-top:50px; padding-bottom:30px;  width:100%; box-sizing:border-box}
.cal h2{color:#333;/*text-transform:uppercase;*/ font:14px 'Open Sans', sans-serif; padding-top:0px; font-weight:700; }
.cal h3{color:#5b5b5b; font:14px 'Open Sans', sans-serif; padding-top:10px; font-weight:500; padding-bottom:10px; line-height:24px; }
.cal-bg{ background-color:#f7f7f7; margin-top:60px; padding-bottom:0px; overflow:hidden; border:0px solid red;}


.about-developer{ padding-bottom:60px; overflow:hidden;}
.about-developer h1{color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif;  padding-top:50px; padding-bottom:40px;  width:100%; box-sizing:border-box}
.dev-con{}
.main-page-content-h1{padding-top: 85px !important;padding-bottom: 23px !important;}
.dev{ width:230px; float:left;}
.dev img{ border:1px solid #d4dcd5;}
.dev-txt{ width:940px; float:left; color:#7a7a7a; font:14px 'Open Sans', sans-serif; line-height:30px; }
.dev-txt .read{ text-decoration:underline; cursor:pointer; color:#577ab5; }
.dev-txt .read:hover{ text-decoration:underline; color:#577ab5}
.developer-add{ padding-top:10px;}
.dev-txt .developer-add b{ font-weight:bold; color:#333;}


/*allTabs*/
.nodisplay,.firstdisplay,.seconddisplay,.thirddisplay,.fourdisplay,.fivedisplay,.sixdisplay,.sevendisplay,.eightdisplay,.ninedisplay,.tendisplay,.elevendisplay,.mapnone{ display:none; clear:both; padding-top:0px;}
.sodisplay{display:block}
.allTabs{border:1px solid #ddd; overflow:hidden; min-height:100px;}
.mainTab{height:50px; background:#ddd; padding:9px 0 0 0; box-sizing:border-box;}
.mainTab ul{margin:0 0 0 25px; height:50px; white-space:nowrap; overflow-x:auto;}
.mainTab li{display:inline-block;padding:0 10px;margin-right:6lhsFloorpx; font:normal 14px/41px 'Open Sans', sans-serif, Helvetica; height:41px; box-sizing:border-box;border: 1px solid #ddd; cursor:pointer; color:#2c2d31;}
.mainTab li.active{color: #555;cursor: pointer;background-color:#fff;border: 1px solid #ddd;    border-bottom: 1px solid #fff;}
.firstTab,.secondTab,.thirdTab,.fourTab,.fiveTab,.sixTab,.sevenTab,.eightTab,.nineTab,.tenTab,.elevenTab{cursor: pointer;margin:0; clear:both; height:39px;padding:0 20PX; width:100%;border-bottom: 1px solid #ddd; white-space:nowrap;overflow-x:auto}
.firstTab li,.secondTab li,.thirdTab li,.fourTab li,.fiveTab li,.sixTab li,.sevenTab li,.eightTab li,.nineTab li,.tenTab li,.elevenTab li{display:inline-block;padding:0 10px;margin-right:10px; font:normal 14px/41px 'Open Sans', sans-serif, Helvetica; height:40px; box-sizing:border-box;}
.firstTab li.active,.secondTab li.active,.thirdTab li.active, .fourTab li.active, .fiveTab li.active, .sixTab li.active, .sevenTab li.active, .eightTab li.active, .nineTab li.active, .tenTab li.active,.elevenTab li.active{ border-bottom:4px solid #00368b}


.lhsFloor{width:520px;float:left;background:#f8f8fa;position:relative;text-align: center}
.lhsFloor span{position:absolute;top:90%;left:93%;}
.rhsFloor{width:580px;float:left;padding-left:60px;overflow:hidden; box-sizing:border-box;}
.rhsFloor h1{color:#2c2d31; font:22px 'Open Sans', sans-serif;padding-top:30px;}
.rhsFloor h1 span{float:right;padding-right:6px;}
.offer{color:#00368b;font:700 14px 'Open Sans', sans-serif;padding:10px 10px 0px  0; /*text-transform:uppercase;*/}
.type-container{ padding-top:30px;}
.type{font:14px 'Open Sans', sans-serif;color:#7a7a7a;}
.type ul{ padding:0px 0px 30px 0px;}
.type li{ font:14px 'Open Sans', sans-serif;color:#7a7a7a;float:left;/*padding-right:60px*/;background:url(../images/arrow.png) no-repeat 0px 5px;padding-left:17px; width:155px;}
.type li:last-child{ padding-right:0px;}
.usp{font:14px 'Open Sans', sans-serif;color:#7a7a7a;padding-top:10px; padding-right:10px;}
.usp b{ font-weight:600;}
.contact a{background:#00368b;margin-top:20px;display:inline-block;padding:10px 15px;/*text-transform:uppercase;*/color:#fff;text-decoration:none; font-size:14px;}
.contact a:hover{color:#fff;text-decoration:none;background:#103365;}
/*allTabs*/
/*gallery*/
.gallerySwiper .swiper-slide{width:25%;}
.gallery h1{color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif; padding-top:100px; padding-bottom:40px;  width:100%; box-sizing:border-box}
.gallerySwiper .swiper-slide img {width:100%; margin:0px; padding:0px;}
.gallerySwiper .swiper-button-next,.spec-bg .swiper-button-next{width:40px;height:40px;margin-top:-20px;background-position:-41px -27px; right:0px; }
.gallerySwiper .swiper-button-prev,.spec-bg .swiper-button-prev{width:40px;height:40px;margin-top:-20px;background-position:0 -27px;left:0;}



.gallerySwiper .swiper-slide {position:relative;}
.gallerySwiper .swiper-slide .example-image-link {position:relative;}
.gallerySwiper .swiper-slide .hovereffect i{color:#fff;margin:45% 0 0;}
.gallerySwiper .swiper-slide .hovereffect {opacity:1;z-index:9999;background: rgba(0,0,0,.5); transition: all 0.5s ease;top:0;position:absolute;width:100%;height:100%;display:block;opacity:0}
.gallerySwiper .swiper-slide a:hover .hovereffect{opacity:1;transition: all 0.5s ease;}
/*gallery*/




/*Map*/
.map-con{border:1px solid #eae5e5;}
.Map{ overflow:hidden;min-height:150px; }
.Map h1{ color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif; padding-top:100px; padding-bottom:40px;  width:100%; box-sizing:border-box}
.mapnone{clear:both; /*min-height:100px;*/ text-align:center}
.mapView{height:50px; position:relative;padding:9px 0 0 0;box-sizing:border-box;border-bottom:1px solid #ddd;float:left;width:100%; background:#ddd; color:#2c2d31;}
.mapView ul{margin:1px 0 0 26px; position:absolute; bottom:-1px;}
.mapView li{float:left;padding:0 25px;margin-right:10px; font:normal 14px/41px 'Open Sans', sans-serif, Helvetica; height:41px; box-sizing:border-box; cursor:pointer;}
.mapView li.active{color: #555;cursor: default;background: #fff;border: 0px solid #ddd;border-top-left-radius:0px;border-top-right-radius:0px; border-bottom:0;}
.mapView li:hover {background:#fff; }
.location{ width:100%; font-size:14px; line-height:30px; padding:10px 30px 10px 20px; text-align:left; overflow: hidden;}
.location li{ background:url(../images/arrow.png) no-repeat 10px 10px; padding-left:25px; width:50%; float:left; box-sizing:border-box;text-align:left}



/*Map*/

.form{display:none;position:fixed; top:80px;left:55%; margin: 0 0 0 -20%; width:36%; background:#fff; border:1px solid #ddd; min-height:300px;     z-index:99999;}
.form h2{font:18px 'Open Sans', sans-serif; color:#000; border-bottom:1px solid #ddd; padding:0 0 5px 15px; margin:10px 0 10px 0; position:relative}
.form-group{clear:both;height:33px; margin:0px 0px 20px 0; box-sizing:border-box; width:100%; padding:0px 15px}
.form-group label{float:left; width:25%; height:35px;font:14px/30px 'Open Sans', sans-serif;}
.form-group .form-control{float:right;width:75%; border:1px solid #ddd; height:30px; padding-left:10px;box-sizing:border-box;}
.form-group .submit{background:#00368b;border:0;font:14px/30px 'Open Sans', sans-serif; height:30px; color:#fff;}
.close{position:absolute; top:0px; right:10px; cursor:pointer}
.form-group.last{margin-bottom:10px}




/* Footer */

.footer-con{ background:#00368b; font-size:12px; padding-bottom:10px;color:#FFF}
.mb-logo-footer{ text-align:center;  font-size:12px;display: block; float:left; 
    margin: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;}
		

.mb-logo-footer img{  vertical-align:middle;}
	
.footer-con .copyRightInfo{ font-size:12px;  text-align:center;}



.bottom-icon{ margin:auto;  margin:auto; text-align:center; line-height:14px; }
.bottom-icon ul li{ margin:0px; padding:0px; display:inline-block;}
.bottom-icon ul li a:hover{ opacity:0.9;}
.social {bottom:0px; width:150px;}
.social ul {margin: 0;}
.social ul li {margin:0;list-style:none;opacity:.8;}
.social ul li:hover {opacity:1;}
.a2a_default_style .a2a_count, .a2a_default_style .a2a_svg, .a2a_floating_style .a2a_svg, .a2a_vertical_style .a2a_count, .a2a_menu .a2a_svg {border-radius:0 !important}
a.a2a_i .a2a_img, a.a2a_i .a2a_svg {margin:0 5px 0 0!important}
.a2a_default_style .a2a_img, .a2a_default_style .a2a_dd, .a2a_default_style .a2a_svg, .a2a_default_style .a2a_counter img {margin:0 0 4px 0}




@media only screen and (min-device-width:320px) and (max-device-width:559px) and (orientation:portrait){
	
.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:5px;right:auto; background:url(images/sprites.png); background-position:-108px -3px}
.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:5px;left:auto; background:url(images/sprites.png);background-position:-119px -3px; }

	
.swiper-button-prev1{right:auto;left:5px;right:auto;  background-position:-11px -153px;  height:40px; width:32px; margin-top:5px; }
.swiper-button-next1{right:5px;left:auto;  background-position:-29px -153px; width:32px; height:40px; margin-top:5px;}


.gallerySwiper .swiper-button-next,.spec-bg .swiper-button-next{width:21px;height:23px;margin-top:-20px; right:0px; background:url(images/sprites.png); background-position:-20px -130px; }

.gallerySwiper .swiper-button-prev,.spec-bg .swiper-button-prev{width:21px;height:23px;margin-top:-20px;left:0; background:url(images/sprites.png);background-position:1px -130px;}

.swiper-container1{ padding:0px; border:0px;}
.lhsSpec li{ line-height:24px; background-position:-119px 4px;}
.spec-bg h1{ font-size:20px;}
.lhsSpec h2{ font-size:16px;}
.topbrand{ padding-left:15px;}
.navigation li.displaynone{ display:none !important;}
.navigation li a{ padding-left:10px;}
.navigation li a:hover{ padding-left:10px !important; background-color:#fff;}
.navigation li a:focus{ padding-left:10px !important;}
.hidden{ display:none;}

.sm-con{ width:76px !important; text-align:center; margin:auto; margin-bottom:5px; margin-top:3px;}
.rowSecond { padding:0 5px; box-sizing:border-box}
.bar{display:block; cursor:pointer;}

.navigation{display:none;background:#f6f6f6; top:60px;position:absolute;right:0px; width:60%;border: 1px solid #e2e2e2;}
.navigation li{float:none;width:100%; padding:0px 0px; box-sizing:border-box; margin:0;    border-bottom: 1px solid #e2e2e2;}
.navigation li:last-child{border-bottom:0;}
.navigation a.contact{ margin-top:5px;}
.navigation > li > a:focus, .navigation > li > a:hover{ background-color:#fff; border-bottom:0px; padding-left:0px;}

.cols1,.middleWrapper{ width:100%; padding-bottom:0px;}
.download li{font-size:12px; padding:0 7px 10px 25px;margin-right:5px; }
.cols1{ margin-top:5px;}
.cols2{width:100%; float:none; margin-top: -35px;}

.cols1 h1{ font-size:26px !important;}
.cols1 h2{ font-size:20px !important;}
.cols1 h3{ font-size:15px !important;}
.cols1 h3 span{ font-size:15px !important;}
.cols2{ padding-left:10px; width:97%;}
.greenBg{ padding-left:10px;  padding-bottom:20px;}
.cols2 h1{ font-size:18px; padding-top:0px; font-weight:600;}


.description ul li{font: 14px/23px "Open Sans",sans-serif;}
.firstTab li,.secondTab li,.thirdTab li,.fourTab li,.fiveTab li,.sixTab li,.sevenTab li,.eightTab li,.nineTab li,.tenTab li,.elevenTab li{ margin-right:1px;}
.Map{ display:none;}
.cal-bg{ display:none;}
.cal{ display:none;}
.bankLogo.swiper-container{width:80%;padding:0 10px; box-sizing:border-box; margin:10px auto 0 auto ;}
.bankLogo .swiper-slide{width:120px;}
.bankLogo .swiper-button-next{right:-1px;}
.bankLogo .swiper-button-prev{left:-0px;}
.spec-bg h1{padding:0 0 0 20px; font-size:18px; font-weight:600; }
.specSlider.swiper-container{width:88%;}
.lhsSpec{padding-right:0px;}
.description.middleWrapper{width:96%; margin-bottom:10px;}
.description{margin-top:0px;}
.description ul{padding:10px 0;}
.description ul li{background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll 0 7px;}
.description .col-md-3,.description .col-md-4,.description .col-md-6{width:100%; margin:0 auto; float:none; border-bottom: 1px solid #ececec;border-right: 0px;}
.description .col-md-3:last-child,.description .col-md-4:last-child,.description .col-md-6:last-child{border-bottom:0}
.lhsAminities{width:100%;margin-right:0; padding:0 10px; margin-left:10px;}
.lhsAminities h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding:12px 0;}
.rhsAminities{ margin-top:20px;width:100%; }
.amenities-bg{ padding-bottom:0px; margin-top:0px;}
.spec-bg{ padding-bottom:20px;}
.lhsSpec{ width:100%; float:none;}
.rhsSpec{float:none;}
.spliderWrapper{width:95%;}
.lhsFloor{width:100%;}
.lhsFloor img{ width:100%;}
.rhsFloor{width:100%;padding-left:10px;}
.lhsFloor span{position:absolute;top:88%;left:91%;}

.rhsFloor h1{ font-size:15px;}
.offer{ font-size:13px; padding-bottom:0px;}
.type-container{ padding-top:10px;}
.rhsFloor h1 span {padding-right:15px;}
.mapView ul{margin:1px 0 0 2px; overflow:auto}
.mapView li{padding:0 5px;margin-right:5px; }
.form{left:50%; margin: 0 0 0 -47%; width:94%;}

.unit h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding-left:20px; padding-top:30px; padding-bottom:20px;}
.rhsFloor{ margin-left:10px;}
.type li{ float:left; padding-right:0px; width:100%; line-height:30px;  background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll 0 10px;}
.usp{ clear:both; padding-top:10px;}
.contact a{margin-bottom:20px; display:inline-block;}
.contact a:hover{color:#fff;text-decoration:none;background:#103365;}
.gallery h1 { padding-top:40px;}
.gallery h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding-left:20px; padding-top:0;}
.about-developer h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding-left:20px;padding-top:20px; }
.gallery .cb20{ padding-top:0px !important;}
.gallery .cb10{ padding:0px !important;}

.dev-con{}
.dev{ width:230px; float:left;}
.dev img{ border:1px solid #d4dcd5; width:50%; float:left;}

.dev-txt{ float:left;width:94%; float:left; color:#7a7a7a; font:14px 'Open Sans', sans-serif; line-height:26px; padding-top:10px; }
.dev-txt{ padding-left:20px; display:block;}

.dev img{ margin-left:20px; float:left;}
.dev-txt .read{ text-decoration:underline; cursor:pointer; color:#577ab5; }
.dev-txt .read:hover{ text-decoration:underline; color:#577ab5}
.developer-add{ padding-top:10px; float:left;}
.dev-txt .developer-add b{ font-weight:bold; color:#333;}


}



@media only screen and (min-device-width:320px) and (max-device-width:559px) and (orientation:landscape){
.type-container{ padding-top:10px;}
.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:5px;right:auto; background:url(../images/sprites.png); background-position:-108px -3px}
.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:5px;left:auto; background:url(../images/sprites.png);background-position:-119px -3px; }

	
.swiper-button-prev1{right:auto;left:5px;right:auto;  background-position:-11px -153px;  height:40px; width:32px;  margin-top:5px;}
.swiper-button-next1{right:5px;left:auto;  background-position:-29px -153px; width:32px; height:40px; margin-top:5px;}


.gallerySwiper .swiper-button-next,.spec-bg .swiper-button-next{width:21px;height:23px;margin-top:-20px; right:0px; background:url(images/sprites.png); background-position:-20px -130px; }

.gallerySwiper .swiper-button-prev,.spec-bg .swiper-button-prev{width:21px;height:23px;margin-top:-20px;left:0; background:url(images/sprites.png);background-position:1px -130px;}


.swiper-container1{ padding:0px; border:0px;}
.lhsSpec li{ line-height:24px; background-position:-119px 4px;}
.spec-bg h1{ font-size:20px;}
.lhsSpec h2{ font-size:16px;}
.topbrand{ padding-left:15px;}
.navigation li.displaynone{ display:none !important;}
.navigation li a{ padding-left:10px;}
.navigation li a:hover{ padding-left:10px !important; background-color:#fff;}
.navigation li a:focus{ padding-left:10px !important;}
.hidden{ display:none;}

.sm-con{ width:76px !important; text-align:center; margin:auto; margin-bottom:5px; margin-top:3px;}
.rowSecond { padding:0 5px; box-sizing:border-box}
.bar{display:block; cursor:pointer;}
.navigation{display:none;background:#f6f6f6; top:60px;position:absolute;right:0px; width:60%;border: 1px solid #e2e2e2;}
.navigation li{float:none;width:100%; padding:0px 0px; box-sizing:border-box; margin:0;    border-bottom: 1px solid #e2e2e2;}
.navigation li:last-child{border-bottom:0;}
.navigation a.contact{ margin-top:5px;}
.navigation > li > a:focus, .navigation > li > a:hover{ background-color:#fff; border-bottom:0px; padding-left:0px;}
.cols1,.middleWrapper{ width:100%; padding-bottom:0px;}
.download li{font-size:12px; padding:0 7px 10px 25px;margin-right:5px; }
.cols1{ margin-top:5px;}
.cols2{width:100%; float:none; margin-top: -35px;}

.cols1 h1{ font-size:26px !important;}
.cols1 h2{ font-size:20px !important;}
.cols1 h3{ font-size:15px !important;}
.cols1 h3 span{ font-size:15px !important;}
.cols2{ padding-left:10px; width:97%;}
.greenBg{ padding-left:10px;  padding-bottom:20px;}
.cols2 h1{ font-size:18px; padding-top:0px; font-weight:600;}


.description ul li{font: 14px/23px "Open Sans",sans-serif;}
.firstTab li,.secondTab li,.thirdTab li,.fourTab li,.fiveTab li,.sixTab li,.sevenTab li,.eightTab li,.nineTab li,.tenTab li,.elevenTab li{ margin-right:1px;}
.Map{ display:none;}
.cal-bg{ display:none;}
.cal{ display:none;}
.bankLogo.swiper-container{width:80%;padding:0 10px; box-sizing:border-box; margin:10px auto 0 auto ;}
.bankLogo .swiper-slide{width:120px;}
.bankLogo .swiper-button-next{right:-1px;}
.bankLogo .swiper-button-prev{left:-0px;}
.spec-bg h1{padding:0 0 0 20px; font-size:18px; font-weight:600; }
.specSlider.swiper-container{width:88%;}
.lhsSpec{padding-right:0px;}
.description.middleWrapper{width:96%;margin-bottom:10px;}
.description{margin-top:0px;}
.description ul{padding:10px 0;}
.description ul li{background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll 0 7px;}
.description .col-md-3,.description .col-md-4,.description .col-md-6{width:100%; margin:0 auto; float:none; border-bottom: 1px solid #ececec;border-right: 0px;}
.description .col-md-3:last-child,.description .col-md-4:last-child,.description .col-md-6:last-child{border-bottom:0}
.lhsAminities{width:100%;margin-right:0; padding:0 10px; margin-left:10px;}
.lhsAminities h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding:12px 0;}
.rhsAminities{ margin-top:20px;width:100%; }
.amenities-bg{ padding-bottom:0px; margin-top:0px;}
.spec-bg{ padding-bottom:20px;}
.lhsSpec{ width:100%; float:none;}
.rhsSpec{float:none;}
.spliderWrapper{width:95%;}
.lhsFloor{width:100%;}
.lhsFloor img{ width:100%;}
.rhsFloor{width:100%;padding-left:10px;}
.lhsFloor span{position:absolute;top:88%;left:91%;}

.rhsFloor h1{ font-size:15px;}
.offer{ font-size:13px; padding-bottom:0px;}
.rhsFloor h1 span {padding-right:15px;}
.mapView ul{margin:1px 0 0 2px; overflow:auto}
.mapView li{padding:0 5px;margin-right:5px; }
.form{left:50%; margin: 0 0 0 -47%; width:94%;}

.unit h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding-left:20px; padding-top:30px; padding-bottom:20px;}
.rhsFloor{ margin-left:10px;}
.type li{ float:left; padding-right:0px; width:100%; line-height:30px;  background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll 0 10px;}
.usp{ clear:both; padding-top:10px;}
.contact a{margin-bottom:20px; display:inline-block;}
.contact a:hover{color:#fff;text-decoration:none;background:#103365;}
.gallery h1 { padding-top:40px;}
.gallery h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding-left:20px; padding-top:0;}
.about-developer h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; }
.gallery .cb20{ padding-top:0px !important;}
.gallery .cb10{ padding:0px !important;}

.about-developer{padding-bottom:30px; overflow:hidden;}
.about-developer h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding-left:20px; padding-top:20px;}


.dev-con{}
.dev{ width:230px; float:left;}
.dev img{ border:1px solid #d4dcd5; width:50%; float:left;}

.dev-txt{ float:left;width:94%; float:left; color:#7a7a7a; font:14px 'Open Sans', sans-serif; line-height:26px; padding-top:10px; }
.dev-txt{ padding-left:20px; display:block;}

.dev img{ margin-left:20px; float:left;}
.dev-txt .read{ text-decoration:underline; cursor:pointer; color:#577ab5; }
.dev-txt .read:hover{ text-decoration:underline; color:#577ab5}
.developer-add{ padding-top:10px; float:left;}
.dev-txt .developer-add b{ font-weight:bold; color:#333;}


}


@media only screen and (min-device-width:360px) and (max-device-width:667px) and (orientation:portrait){
.type-container{ padding-top:10px;}
.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:5px;right:auto; background:url(../images/sprites.png); background-position:-108px -3px}
.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:5px;left:auto; background:url(../images/sprites.png);background-position:-119px -3px; }

	
.swiper-button-prev1{right:auto;left:5px;right:auto;  background-position:-11px -153px;  height:40px; width:32px; margin-top:5px; }
.swiper-button-next1{right:5px;left:auto;  background-position:-29px -153px; width:32px; height:40px; margin-top:5px;}


.gallerySwiper .swiper-button-next,.spec-bg .swiper-button-next{width:21px;height:23px;margin-top:-20px; right:0px; background:url(images/sprites.png); background-position:-20px -130px; }

.gallerySwiper .swiper-button-prev,.spec-bg .swiper-button-prev{width:21px;height:23px;margin-top:-20px;left:0; background:url(images/sprites.png);background-position:1px -130px;}


.lhsSpec h2{ font-size:16px;}
.spec-bg h1{ font-size:20px;}
.lhsSpec li{ line-height:24px; background-position:-119px 4px;}
.swiper-container1{ padding:0px; border:0px;}
.topbrand{ padding-left:15px;}
.navigation li.displaynone{ display:none !important;}
.hidden{ display:none;}
.navigation li a{ padding-left:10px; }
.navigation li a:hover{ padding-left:10px !important;}
.navigation li a:focus{ padding-left:10px !important;}
.sm-con{ width:76px !important; text-align:center; margin:auto; margin-bottom:5px; margin-top:3px;}
.rowSecond { padding:0 5px; box-sizing:border-box}


.bar{display:block; cursor:pointer;}



.navigation{display:none;background:#f6f6f6;top:60px;position:absolute;right:0px; width:60%;border: 1px solid #e2e2e2;}
.navigation li{float:none;width:100%; padding:0px 0px; box-sizing:border-box; margin:0;    border-bottom: 1px solid #e2e2e2;}

.navigation li:last-child{border-bottom:0;}
.navigation a.contact{ margin-top:5px;}
.cols1{ margin-top:5px;}
.cols1,.middleWrapper{ width:100%; padding-bottom:0px;}
.download li{font-size:12px; padding:0 7px 10px 25px;margin-right:5px; }

.cols2{width:100%; float:none; margin-top: -35px;}

.cols1 h1{ font-size:30px !important;}
.cols1 h2{ font-size:24px !important;}
.cols1 h3{ font-size:17px !important;}
.cols1 h3 span{ font-size:17px !important;}
.cols2{ padding-left:10px; width:97%;}
.greenBg{ padding-left:10px; padding-bottom:20px;}
.cols2 h1{ font-size:18px; padding-top:0px; font-weight:600;}

.description ul li{font: 14px/23px "Open Sans",sans-serif;}
.firstTab li,.secondTab li,.thirdTab li,.fourTab li,.fiveTab li,.sixTab li,.sevenTab li,.eightTab li,.nineTab li,.tenTab li,.elevenTab li{ margin-right:1px;}
.Map{ display:none;}
.cal-bg{ display:none;}
.cal{ display:none;}
.bankLogo.swiper-container{width:80%;padding:0 10px; box-sizing:border-box; margin:10px auto 0 auto ;}
.bankLogo .swiper-slide{width:120px;}
.bankLogo .swiper-button-next{right:-1px;}
.bankLogo .swiper-button-prev{left:-0px;}
.spec-bg h1{padding:0 0 0 20px; font-size:18px; font-weight:600; }
.specSlider.swiper-container{width:88%;}
.lhsSpec{padding-right:0px;}
.description.middleWrapper{width:96%;margin-bottom:10px;}
.description{margin-top:0px;}
.description ul{padding:10px 0;}
.description ul li{background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll 0 7px;}
.description .col-md-3,.description .col-md-4,.description .col-md-6{width:100%; margin:0 auto; float:none; border-bottom: 1px solid #ececec;border-right: 0px;}
.description .col-md-3:last-child,.description .col-md-4:last-child,.description .col-md-6:last-child{border-bottom:0}
.lhsAminities{width:100%;margin-right:0; padding:0 10px; margin-left:10px;}
.lhsAminities h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding:12px 0;}
.rhsAminities{ margin-top:20px;width:100%; }
.amenities-bg{ padding-bottom:0px; margin-top:0px;}
.spec-bg{ padding-bottom:20px;}
.lhsSpec{ width:100%; float:none;}
.rhsSpec{float:none;}
.spliderWrapper{width:95%;}
.lhsFloor{width:100%;}
.lhsFloor img{ width:100%;}
.rhsFloor{width:100%;padding-left:10px;}
.lhsFloor span{position:absolute;top:88%;left:91%;}

.rhsFloor h1{ font-size:15px;}
.rhsFloor h1 span {padding-right:15px;}
.mapView ul{margin:1px 0 0 2px; overflow:auto}
.mapView li{padding:0 5px;margin-right:5px; }
.form{left:50%; margin: 0 0 0 -47%; width:94%;}

.unit h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding-left:20px; padding-top:30px; padding-bottom:20px;}
.rhsFloor{ margin-left:10px;}
.type li{ float:left; padding-right:0px; width:100%; line-height:30px;  background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll 0 10px;}
.usp{ clear:both; padding-top:10px;}
.contact a{margin-bottom:20px; display:inline-block;}
.contact a:hover{color:#fff;text-decoration:none;background:#103365;}
.gallery h1 { padding-top:40px;}
.gallery h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding-left:20px; padding-top:0;}
.about-developer h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; }
.gallery .cb20{ padding-top:0px !important;}
.gallery .cb10{ padding:0px !important;}

.about-developer{padding-bottom:30px;padding-top:0px;  overflow:hidden;}
.about-developer h1{font-size:20px; font-family: 'Open Sans', sans-serif !important; font-weight:600;  padding-left:20px; padding-top:20px;}
.dev-con{}
.dev{ width:230px; float:left;}
.dev img{ border:1px solid #d4dcd5; width:50%; float:left;}

.dev-txt{ float:left;width:94%; float:left; color:#7a7a7a; font:14px 'Open Sans', sans-serif; line-height:26px; padding-top:10px; }
.dev-txt{ padding-left:20px; display:block;}

.dev img{ margin-left:20px; float:left;}
.dev-txt .read{ text-decoration:underline; cursor:pointer; color:#577ab5; }
.dev-txt .read:hover{ text-decoration:underline; color:#577ab5}
.developer-add{ padding-top:10px; float:left;}
.dev-txt .developer-add b{ font-weight:bold; color:#333;}



}



@media only screen and (min-device-width:360px) and (max-device-width:667px) and (orientation:landscape){
.type-container{ padding-top:10px;}
.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:5px;right:auto; background:url(../images/sprites.png); background-position:-108px -3px}
.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:5px;left:auto; background:url(../images/sprites.png);background-position:-119px -3px; }

.swiper-button-prev1{right:auto;left:5px;right:auto;  background-position:-11px -153px;  height:40px; width:32px; margin-top:5px; }
.swiper-button-next1{right:5px;left:auto;  background-position:-29px -153px; width:32px; height:40px; margin-top:5px;}


.gallerySwiper .swiper-button-next,.spec-bg .swiper-button-next{width:21px;height:23px;margin-top:-20px; right:0px; background:url(images/sprites.png); background-position:-20px -130px; }

.gallerySwiper .swiper-button-prev,.spec-bg .swiper-button-prev{width:21px;height:23px;margin-top:-20px;left:0; background:url(images/sprites.png);background-position:1px -130px;}

.lhsSpec h2{ font-size:16px;}
.spec-bg h1{ font-size:20px;}
.lhsSpec li{ line-height:24px; background-position:-119px 4px;}
.swiper-container1{ padding:0px; border:0px;}
.topbrand{ padding-left:15px;}
.navigation li.displaynone{ display:none !important;}
.hidden{ display:none;}
.navigation li a{ padding-left:10px; }
.navigation li a:hover{ padding-left:10px !important;}
.navigation li a:focus{ padding-left:10px !important;}
.sm-con{ width:76px !important; text-align:center; margin:auto; margin-bottom:5px; margin-top:3px;}
.rowSecond { padding:0 5px; box-sizing:border-box}


.bar{display:block; cursor:pointer;}
.navigation{display:none;background:#f6f6f6;top:60px;position:absolute;right:0px; width:60%;border: 1px solid #e2e2e2;}
.navigation li{float:none;width:100%; padding:0px 0px; box-sizing:border-box; margin:0;    border-bottom: 1px solid #e2e2e2;}
.navigation li:last-child{border-bottom:0;}
.navigation a.contact{ margin-top:5px;}
.cols1{ margin-top:5px;}
.cols1,.middleWrapper{ width:100%; padding-bottom:0px;}
.download li{font-size:12px; padding:0 7px 10px 25px;margin-right:5px; }

.cols2{width:100%; float:none; margin-top: -35px;}

.cols1 h1{ font-size:30px !important;}
.cols1 h2{ font-size:24px !important;}
.cols1 h3{ font-size:17px !important;}
.cols1 h3 span{ font-size:17px !important;}
.cols2{ padding-left:10px; width:97%;}
.greenBg{ padding-left:10px; padding-bottom:20px;}
.cols2 h1{ font-size:18px; padding-top:0px; font-weight:600;}

.description ul li{font: 14px/23px "Open Sans",sans-serif;}
.firstTab li,.secondTab li,.thirdTab li,.fourTab li,.fiveTab li,.sixTab li,.sevenTab li,.eightTab li,.nineTab li,.tenTab li,.elevenTab li{ margin-right:1px;}
.Map{ display:none;}
.cal-bg{ display:none;}
.cal{ display:none;}
.bankLogo.swiper-container{width:80%;padding:0 10px; box-sizing:border-box; margin:10px auto 0 auto ;}
.bankLogo .swiper-slide{width:120px;}
.bankLogo .swiper-button-next{right:-1px;}
.bankLogo .swiper-button-prev{left:-0px;}
.spec-bg h1{padding:0 0 0 20px; font-size:18px; font-weight:600; }
.specSlider.swiper-container{width:88%;}
.lhsSpec{padding-right:0px;}
.description.middleWrapper{width:96%;margin-bottom:10px;}
.description{margin-top:0px;}
.description ul{padding:10px 0;}
.description ul li{background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll 0 7px;}
.description .col-md-3,.description .col-md-4,.description .col-md-6{width:100%; margin:0 auto; float:none; border-bottom: 1px solid #ececec;border-right: 0px;}
.description .col-md-3:last-child,.description .col-md-4:last-child,.description .col-md-6:last-child{border-bottom:0}
.lhsAminities{width:100%;margin-right:0; padding:0 10px; margin-left:10px;}
.lhsAminities h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding:12px 0;}
.rhsAminities{ margin-top:20px;width:100%; }
.amenities-bg{ padding-bottom:0px; margin-top:0px;}
.spec-bg{ padding-bottom:20px;}
.lhsSpec{ width:100%; float:none;}
.rhsSpec{float:none;}
.spliderWrapper{width:95%;}
.lhsFloor{width:100%;}
.lhsFloor img{ width:100%;}
.rhsFloor{width:100%;padding-left:10px;}
.lhsFloor span{position:absolute;top:88%;left:91%;}

.rhsFloor h1{ font-size:15px;}
.rhsFloor h1 span {padding-right:15px;}
.mapView ul{margin:1px 0 0 2px; overflow:auto}
.mapView li{padding:0 5px;margin-right:5px; }
.form{left:50%; margin: 0 0 0 -47%; width:94%;}

.unit h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding-left:20px; padding-top:30px; padding-bottom:20px;}
.rhsFloor{ margin-left:10px;}
.type li{ float:left; padding-right:0px; width:100%; line-height:30px;  background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll 0 10px;}
.usp{ clear:both; padding-top:10px;}
.contact a{margin-bottom:20px; display:inline-block;}
.contact a:hover{color:#fff;text-decoration:none;background:#103365;}
.gallery h1 { padding-top:40px;}
.gallery h1{font-size:18px; font-family: 'Open Sans', sans-serif !important; font-weight:600; padding-left:20px; padding-top:0;}
.about-developer h1{font-size:20px; font-family: 'Open Sans', sans-serif !important; font-weight:600; }
.gallery .cb20{ padding-top:0px !important;}
.gallery .cb10{ padding:0px !important;}

.about-developer{padding-bottom:30px; overflow:hidden;}
.about-developer h1{font-size:20px; font-family: 'Open Sans', sans-serif !important; font-weight:600;  padding-left:20px;}
.dev-con{}
.dev{ width:230px; float:left;}
.dev img{ border:1px solid #d4dcd5; width:50%; float:left;}
.dev-txt{ float:left;width:94%; float:left; color:#7a7a7a; font:14px 'Open Sans', sans-serif; line-height:26px; padding-top:10px; }

.developer-add b{ color:#2c2d31; font-weight:bold; padding-top:40px; }


.dev img{ margin-left:20px; float:left;}
.dev-txt{ padding-left:20px; padding-right:20px; display:block;}


.dev-txt{ float:left;width:94%; float:left; color:#7a7a7a; font:14px 'Open Sans', sans-serif; line-height:26px; padding-top:10px; }
.dev-txt{ padding-left:20px; display:block;}

.dev img{ margin-left:20px; float:left;}
.dev-txt .read{ text-decoration:underline; cursor:pointer; color:#577ab5; }
.dev-txt .read:hover{ text-decoration:underline; color:#577ab5}
.developer-add{ padding-top:10px; float:left;}
.dev-txt .developer-add b{ font-weight:bold; color:#333;}
}



@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){
.swiper-container1{ padding:0px; width:99.5%;}
.cal-bg{ display:none;}
.topbrand{ padding-left:15px;}

.rowSecond { width:100%; padding:0; border:0px solid #000;}
.bar{display:block}
.video-img{ display:none;}


.navigation li.displaynone{ display:none !important;}
.navigation li a{ padding-left:10px; }
.navigation li a:hover{ padding-left:10px !important; background-color:#fff;}
.navigation li a:focus{ padding-left:10px !important;}

.sm-con{ width:76px !important; text-align:center; margin:auto; margin-bottom:5px; margin-top:3px;}
.rowSecond { padding:0 5px; box-sizing:border-box}
.bar{display:block; cursor:pointer;}

.navigation{display:none;background:#f6f6f6;top:60px;position:absolute;right:0px; width:30%;border: 1px solid #e2e2e2;}
.navigation li{float:none;width:100%; padding:0px 0px; box-sizing:border-box; margin:0;    border-bottom: 1px solid #e2e2e2;}
.navigation li:last-child{border-bottom:0;}
.navigation a.contact{ margin-top:5px;}

.cols1{ margin-top:5px;}
.cols1,.middleWrapper{ width:100%; padding-bottom:0px;}
.download li{font-size:12px; padding:0 7px 10px 25px;margin-right:5px; }


.navigation li a:hover {border-bottom: 2px solid #00368b; }
.navigation li:last-child a:hover{border-bottom:0px solid #00368b; }

.navigation > li > a:focus, .navigation > li > a:hover{ background-color:#fff; border-bottom:0px; padding-left:0px;}
.navigation  > li.textDecoration  a{border-bottom: 1px solid #00368b; }




.cols2{width:100%; float:none; margin-top: -35px;}

.cols1 h1{ font-size:30px !important;}
.cols1 h2{ font-size:24px !important;}
.cols1 h3{ font-size:17px !important;}
.cols1 h3 span{ font-size:17px !important;}
.cols2{ padding-left:10px; width:97%; padding-left:20px;}
.greenBg{ padding-left:10px;}
.cols2 h1{ font:30px 'Open Sans', sans-serif; padding-top:0px; }
.readMore{display:none}
.download{margin:20px 0 0}
.download li{display:inline-block;/*text-transform:uppercase;*/padding:0 26px 10px 25px;margin-right:26px;position:relative;font:normal 14px/19px 'Open Sans', sans-serif}
.download li:before{width:19px;height:16px;content:'';position:absolute;left:0;top:0;background:url(../images/download-icon.png) no-repeat}
.download li:after{background:url(../images/sep.jpg) no-repeat right;width:19px;height:16px;content:'';position:absolute;right:0;top:0}
.download li:last-child:after{background:none}
.download li a{ color:#7a7a7a; text-decoration:none;} 
.download li a:hover{ color:#7a7a7a; text-decoration:underline;} 
.bank-approval{ color:#2c2d31; /*text-transform:uppercase;*/font-size:14px; color:#2c2d31; padding-top:20px; padding-bottom:15px; font-weight:600;}
.greenBg{background-color:#00368b;padding:10px 20px;}
.cols1 h1{color:#fff;font:700 36px 'Open Sans', sans-serif;/*text-transform:uppercase;*/padding-bottom:0px}
.cols1 h2{margin:0;padding:0;color:#fff;font-size:24px;line-height:34px;padding-bottom:8px; font-weight:600;}
.cols1 h2 span{display:block;}
.cols1 h3{color:#fff;font-size:23px;font-weight:600;}
.cols1 h3 span{color:#ffff00;/*text-transform:uppercase;*/}


.video-img{width:100%;}
.description{ width:100%; clear:both;margin-top:0px; /*height:140px;*/  border:1px solid #ececec;content:" "; overflow:hidden }
.description{ width:97%;clear:both;margin-top:20px;  border:1px solid #ececec;content:" "; overflow:hidden }
.description .sep{border-right:1px solid #ececec}
.description .nosep{ border-right:0px; }
.description .col-md-3,.description .col-md-4,.description .col-md-6{width:100%; margin:0 auto; float:none; border-bottom: 1px solid #ececec;border-right: 0px;}
.description .col-md-3:last-child,.description .col-md-4:last-child,.description .col-md-6:last-child{border-bottom:0}

.description ul{padding:0;}
.description ul li{font:normal 14px/40px 'Open Sans', sans-serif;background:url(../images/arrow.png) no-repeat 0 14px;border:0 solid #000;padding-left:15px;margin-left:20px}
.description ul li strong{ font-weight:600;}
.rel{ position:relative}
.bankLogo.swiper-container{width:92%}
.bankLogo .swiper-slide{width:140px; box-sizing:border-box;  float: left;border:1px solid #ddd; }


.lhsAminities{width:53%;margin-right:0; padding:0 10px; margin-left:10px;}
.lhsAminities h1{font:30px 'Open Sans', sans-serif;  padding:12px 0;}
.rhsAminities{ width:45% !important; float:left; margin-top:20px;width:100%; }
.amenities-bg{ padding-bottom:0px; margin-top:10px;}


.lhsAminities ul{width:100%; float:left;}
.lhsAminities li{width:100%; float:left; font:14px/30px 'Open Sans', sans-serif; color:#666666; padding:0 10px 0 15px;  box-sizing:border-box; float:left; background-position:-119px 7px; }
.slimScrollRail{ width:3px !important; margin:auto; right:2px !important;}

/*Specification starts*/
.spec-bg{background:url(../images/spec-bg.jpg); padding:30px 0px 50px 0px; position:relative;}
.specSlider.swiper-container{width:95%;margin:0 auto ;}
.spec-bg h1{ font:30px 'Open Sans', sans-serif; color:#fff;/*text-transform:uppercase; */ padding:0 0 20px 20px; width:100%; box-sizing:border-box }
.lhsSpec{width:100%;float:left; padding-right:30px; box-sizing:border-box; }
.spec-bg .rhsSpec{float:right;}
.spec-bg .swiper-slide{background:none;box-sizing:border-box; ;}
.spec-container{width:100%; margin:auto; padding:0px;  overflow:hidden; color:#fff; line-height:30px; font-size:14px;}
.lhsSpec h2{font:600 22px 'Open Sans', sans-serif;color:#fff;padding:10px 0; margin-left:0px;background:url(../images/underline.jpg) no-repeat left bottom; text-align:left}
.lhsSpec ul{ margin-top:20px;}
.lhsSpec li{ background-position:-144px -59px;  padding-left:15px; margin-top:5px; font:normal 14px/30px 'Open Sans', sans-serif;color:#fff; text-align:left}
/*Specification End*/


.unit h1{color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif;  padding-left:20px; font:30px 'Open Sans', sans-serif; padding-top:50px; padding-bottom:40px;  width:100%; box-sizing:border-box}
.cal{ background-color:#f7f7f7;  padding-bottom:40px; overflow:hidden}
.cal h1{color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif; padding-left:20px; padding-top:50px; padding-bottom:30px;  width:100%; box-sizing:border-box}
.cal h2{color:#333;/*text-transform:uppercase;*/ font:14px 'Open Sans', sans-serif; padding-top:0px;padding-left:20px; font-weight:700; }
.cal h3{color:#5b5b5b; font:14px 'Open Sans', sans-serif; padding-top:10px; font-weight:500;padding-left:20px; padding-bottom:10px; line-height:24px; }
.cal-bg{ background-color:#f7f7f7; margin-top:60px; padding-bottom:0px; overflow:hidden; border:0px solid red;}


.about-developer{ padding-bottom:60px; overflow:hidden;}
.about-developer h1{color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif; padding-left:20px;  padding-top:50px; padding-bottom:40px;  width:100%; box-sizing:border-box}


.dev-con{}
.dev{ width:230px; float:left;}
.dev img{ border:1px solid #d4dcd5; width:50%; float:left;}

.dev-txt{ float:left;width:94%; float:left; color:#7a7a7a; font:14px 'Open Sans', sans-serif; line-height:26px; padding-top:10px; }
.dev-txt{ padding-left:20px; display:block;}

.dev img{ margin-left:20px; float:left;}
.dev-txt .read{ text-decoration:underline; cursor:pointer; color:#577ab5; }
.dev-txt .read:hover{ text-decoration:underline; color:#577ab5}
.developer-add{ padding-top:10px; float:left;}
.dev-txt .developer-add b{ font-weight:bold; color:#333;}



/*allTabs*/
.nodisplay,.firstdisplay,.seconddisplay,.thirddisplay,.fourdisplay,.fivedisplay,.sixdisplay,.sevendisplay,.eightdisplay,.ninedisplay,.tendisplay,.elevendisplay,.mapnone{ display:none; clear:both; padding-top:0px;}
.sodisplay{display:block}
.allTabs{border:1px solid #ddd; overflow:hidden; min-height:100px;}
.mainTab{height:50px; background:#ddd; padding:9px 0 0 0; box-sizing:border-box;}
.mainTab ul{margin:0 0 0 25px; height:50px; white-space:nowrap; overflow-x:auto;}
.mainTab li{display:inline-block;padding:0 25px;margin-right:10px; font:normal 14px/41px 'Open Sans', sans-serif, Helvetica; height:41px; box-sizing:border-box;border: 1px solid #ddd; cursor:pointer; color:#2c2d31;}
.mainTab li.active{color: #555;cursor: pointer;background-color:#fff;border: 1px solid #ddd;    border-bottom: 1px solid #fff;}
.firstTab,.secondTab,.thirdTab,.fourTab,.fiveTab,.sixTab,.sevenTab,.eightTab,.nineTab,.tenTab,.elevenTab{cursor: pointer;margin:0; clear:both; height:39px;padding:0 20PX; width:100%;border-bottom: 1px solid #ddd; white-space:nowrap;overflow-x:auto}
.firstTab li,.secondTab li,.thirdTab li,.fourTab li,.fiveTab li,.sixTab li,.sevenTab li,.eightTab li,.nineTab li,.tenTab li,.elevenTab li{display:inline-block;padding:0 10px;margin-right:10px; font:normal 14px/41px 'Open Sans', sans-serif, Helvetica; height:40px; box-sizing:border-box;}
.firstTab li.active,.secondTab li.active,.thirdTab li.active, .fourTab li.active, .fiveTab li.active, .sixTab li.active, .sevenTab li.active, .eightTab li.active, .nineTab li.active, .tenTab li.active,.elevenTab li.active{ border-bottom:4px solid #00368b}


.lhsFloor{width:100%;float:left;background:#f8f8fa;position:relative;}
.lhsFloor img{ text-align:center;}
.rhsFloor{width:100%;float:left;padding-left:30px;overflow:hidden; box-sizing:border-box;}
.rhsFloor h1{ width:70%; float:left;}
.rhsFloor h1 span{float:right;}
.offer{ width:100%; float:left; color:#00368b;font:700 14px 'Open Sans', sans-serif;padding:10px 10px 0px  0; padding-bottom:30px;/*text-transform:uppercase;*/}
.type-container{ padding-top:30px;}
.type{font:14px 'Open Sans', sans-serif;color:#7a7a7a;}
.type ul{ padding:0px 0px 30px 0px;}
.type li{ font:14px 'Open Sans', sans-serif;color:#7a7a7a; line-height:30px; float:left;padding-right:60px;background:url(../images/arrow.png) no-repeat 0px 5px;padding-left:15px;}
.type li:last-child{ padding-right:0px;}
.usp{font:14px 'Open Sans', sans-serif;color:#7a7a7a;padding-top:10px; float:left; width:100%;}
.usp b{ font-weight:600;}
.contact a{ float:left; background:#00368b;margin-top:20px;display:inline-block;padding:10px 15px; margin-bottom:10px;/*text-transform:uppercase;*/color:#fff;text-decoration:none; font-size:14px;}
.contact a:hover{color:#fff;text-decoration:none;background:#103365;}
/*allTabs*/
/*gallery*/
.gallerySwiper .swiper-slide{width:25%;}
.gallery h1{color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif; padding-left:20px; padding-top:50px; padding-bottom:40px;  width:100%; box-sizing:border-box}
.gallerySwiper .swiper-slide img {width:100%; margin:0px; padding:0px;}
/*.gallerySwiper .swiper-button-next,.spec-bg .swiper-button-next{width:40px;height:40px;margin-top:-20px;background-position:-41px -27px; right:0px;}
.gallerySwiper .swiper-button-prev,.spec-bg .swiper-button-prev{width:40px;height:40px;margin-top:-20px;background-position:0 -27px;left:0}
*/
.gallerySwiper .swiper-slide {position:relative;}
.gallerySwiper .swiper-slide .example-image-link {position:relative;}
.gallerySwiper .swiper-slide .hovereffect i{color:#fff;margin:45% 0 0;}
.gallerySwiper .swiper-slide .hovereffect {opacity:1;z-index:9999;background: rgba(0,0,0,.5); transition: all 0.5s ease;top:0;position:absolute;width:100%;height:100%;display:block;opacity:0}
.gallerySwiper .swiper-slide a:hover .hovereffect{opacity:1;transition:  all 0.5s ease;}
/*gallery*/

.gallerySwiper .swiper-button-next,.spec-bg .swiper-button-next{width:21px;height:23px;margin-top:-20px; right:0px; background:url(images/sprites.png); background-position:-20px -130px; }

.gallerySwiper .swiper-button-prev,.spec-bg .swiper-button-prev{width:21px;height:23px;margin-top:-20px;left:0; background:url(images/sprites.png);background-position:1px -130px;}


/*Map*/
.map-con{border:1px solid #eae5e5;}
.Map{ overflow:hidden;min-height:150px; }
.Map h1{ color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif; padding-top:50px; padding-left:20px; padding-bottom:40px;  width:100%; box-sizing:border-box}
.mapnone{clear:both; /*min-height:100px; */text-align:center}
.mapView{height:50px; position:relative;padding:9px 0 0 0;box-sizing:border-box;border-bottom:1px solid #ddd;float:left;width:100%; background:#ddd; color:#2c2d31;}
.mapView ul{margin:1px 0 0 26px; position:absolute; bottom:-1px;}
.mapView li{float:left;padding:0 25px;margin-right:10px; font:normal 14px/41px 'Open Sans', sans-serif, Helvetica; height:41px; box-sizing:border-box; cursor:pointer;}
.mapView li.active{color: #555;cursor: default;background: #fff;border: 0px solid #ddd;border-top-left-radius:0px;border-top-right-radius:0px; border-bottom:0;}
.mapView li:hover {background:#fff; }
.location{ width:100%; font-size:14px; line-height:30px; padding:10px 30px 10px 20px; text-align:left; overflow: hidden;}
.location li{ background:url(../images/arrow.png) no-repeat 10px 10px; padding-left:25px; width:50%; float:left; box-sizing:border-box;text-align:left}



/*Map*/

.form{display:none;position:fixed; top:80px;left:50%; margin: 0 0 0 -20%; width:40%; background:#fff; border:1px solid #ddd; min-height:300px;     z-index:99999;}
.form h2{font:18px 'Open Sans', sans-serif; color:#000; border-bottom:1px solid #ddd; padding:0 0 5px 15px; margin:10px 0 10px 0; position:relative}
.form-group{clear:both;height:33px; margin:0px 0px 20px 0; box-sizing:border-box; width:100%; padding:0px 15px}
.form-group label{float:left; width:25%; height:35px;font:14px/30px 'Open Sans', sans-serif;}
.form-group .form-control{float:right;width:75%; border:1px solid #ddd; height:30px; padding-left:10px;box-sizing:border-box;}
.form-group .submit{background:#00368b;border:0;font:14px/30px 'Open Sans', sans-serif; height:30px; color:#fff;}
.close{position:absolute; top:0px; right:10px; cursor:pointer}
.form-group.last{margin-bottom:10px}




/* Footer */

.footer-con{ background:#040407; font-size:12px; padding-bottom:10px;}
.mb-logo-footer{ text-align:center;  font-size:12px;display: block; float:left; 
    margin: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;}
		

.mb-logo-footer img{  vertical-align:middle;}
	
.footer-con .copyRightInfo{ font-size:12px;  text-align:center;}

}





@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){

.swiper-container1{ padding:0px; width:99.5%;}
.cal-bg{ display:none;}
.topbrand{ padding-left:15px;}

.rowSecond { width:100%; padding:0; border:0px solid #000;}
.bar{display:block}
.video-img{ display:none;}


.navigation > li > a:focus, .navigation > li > a:hover{ background-color:#fff; border-bottom:0px; padding-left:0px;}



.navigation li.displaynone{ display:none !important;}
.navigation li a{ padding-left:10px; }
.navigation li a:hover{ padding-left:10px !important; background-color:#fff;}
.navigation li a:focus{ padding-left:10px !important;}

.sm-con{ width:76px !important; text-align:center; margin:auto; margin-bottom:5px; margin-top:3px;}
.rowSecond { padding:0 5px; box-sizing:border-box}
.bar{display:block; cursor:pointer;}

.navigation{display:none;background:#f6f6f6;top:60px;position:absolute;right:0px; width:30%;border: 1px solid #e2e2e2;}
.navigation li{float:none;width:100%; padding:0px 0px; box-sizing:border-box; margin:0;    border-bottom: 1px solid #e2e2e2;}
.navigation li:last-child{border-bottom:0;}
.navigation a.contact{ margin-top:5px;}




.cols1{ margin-top:5px;}
.cols1,.middleWrapper{ width:100%; padding-bottom:0px;}
.download li{font-size:12px; padding:0 7px 10px 25px;margin-right:5px; }


.cols1{ margin-top:5px; margin-bottom:0px; float:left; width:100%; border:0px solid red;}
.cols1 img{ width:100% !important; height:300px;}
.cols1,.middleWrapper{ width:100%; padding-bottom:0px;}
.download li{font-size:12px; padding:0 7px 10px 25px;margin-right:5px; }

.cols2{width:100%; float:none; margin-top: -35px;}

.cols1 h1{ font-size:30px !important;}
.cols1 h2{ font-size:24px !important;}
.cols1 h3{ font-size:17px !important;}
.cols1 h3 span{ font-size:17px !important;}
.cols2{ padding-left:10px; width:97%; padding-left:20px;}
.greenBg{ padding-left:10px;}
.cols2 h1{ font:30px 'Open Sans', sans-serif; padding-top:0px; }
.readMore{display:none}
.download{margin:20px 0 0}
.download li{display:inline-block;/*text-transform:uppercase;*/padding:0 26px 10px 25px;margin-right:26px;position:relative;font:normal 14px/19px 'Open Sans', sans-serif}
.download li:before{width:19px;height:16px;content:'';position:absolute;left:0;top:0;background:url(../images/download-icon.png) no-repeat}
.download li:after{background:url(../images/sep.jpg) no-repeat right;width:19px;height:16px;content:'';position:absolute;right:0;top:0}
.download li:last-child:after{background:none}
.download li a{ color:#7a7a7a; text-decoration:none;} 
.download li a:hover{ color:#7a7a7a; text-decoration:underline;} 
.bank-approval{ color:#2c2d31; /*text-transform:uppercase;*/font-size:14px; color:#2c2d31; padding-top:20px; padding-bottom:15px; font-weight:600;}
.greenBg{background-color:#00368b;padding:10px 20px;}
.cols1 h1{color:#fff;font:700 36px 'Open Sans', sans-serif;/*text-transform:uppercase;*/padding-bottom:0px}
.cols1 h2{margin:0;padding:0;color:#fff;font-size:24px;line-height:34px;padding-bottom:8px; font-weight:600;}
.cols1 h2 span{display:block;}
.cols1 h3{color:#fff;font-size:24px;font-weight:600;}
.cols1 h3 span{color:#ffff00;/*text-transform:uppercase;*/}


.video-img{width:100%;}
.description{ width:100%; clear:both;margin-top:0px; /*height:140px;*/  border:1px solid #ececec;content:" "; overflow:hidden }
.description{ width:97%;clear:both;margin-top:20px;  border:1px solid #ececec;content:" "; overflow:hidden }
.description .sep{border-right:1px solid #ececec}
.description .nosep{ border-right:0px; }
.description .col-md-3,.description .col-md-4,.description .col-md-6{width:100%; margin:0 auto; float:none; border-bottom: 1px solid #ececec;border-right: 0px;}
.description .col-md-3:last-child,.description .col-md-4:last-child,.description .col-md-6:last-child{border-bottom:0}
.description ul{padding:0;}
.description ul li{font:normal 14px/40px 'Open Sans', sans-serif;background:url(../images/arrow.png) no-repeat 0 14px;border:0 solid #000;padding-left:15px;margin-left:20px}
.description ul li strong{ font-weight:600;}
.rel{ position:relative}
.bankLogo.swiper-container{width:92%}
.bankLogo .swiper-slide{width:140px; box-sizing:border-box;  float: left;border:1px solid #ddd; }


.lhsAminities{width:53%;margin-right:0; padding:0 10px; margin-left:10px;}
.lhsAminities h1{font:30px 'Open Sans', sans-serif;   padding:12px 0;}
.rhsAminities{ width:45% !important; float:left; margin-top:20px;width:100%; }
.amenities-bg{ padding-bottom:0px; margin-top:10px;}


.lhsAminities ul{width:100%; float:left;}
.lhsAminities li{width:100%; float:left; font:14px/30px 'Open Sans', sans-serif; color:#666666; padding:0 10px 0 15px;  box-sizing:border-box; float:left; background-position:-119px 7px; }
.slimScrollRail{ width:3px !important; margin:auto; right:2px !important;}

/*Specification starts*/
.spec-bg{background:url(../images/spec-bg.jpg); padding:30px 0px 50px 0px; position:relative;}
.specSlider.swiper-container{width:95%;margin:0 auto ;}
.spec-bg h1{ font:30px 'Open Sans', sans-serif; color:#fff;/*text-transform:uppercase; */ padding:0 0 20px 20px; width:100%; box-sizing:border-box }
.lhsSpec{width:100%;float:left; padding-right:30px; box-sizing:border-box; }
.spec-bg .rhsSpec{float:right;}
.spec-bg .swiper-slide{background:none;box-sizing:border-box; ;}
.spec-container{width:100%; margin:auto; padding:0px;  overflow:hidden; color:#fff; line-height:30px; font-size:14px;}
.lhsSpec h2{font:600 22px 'Open Sans', sans-serif;color:#fff;padding:10px 0; margin-left:0px;background:url(../images/underline.jpg) no-repeat left bottom; text-align:left}
.lhsSpec ul{ margin-top:20px;}
.lhsSpec li{ background-position:-144px -59px;  padding-left:15px; margin-top:5px; font:normal 14px/30px 'Open Sans', sans-serif;color:#fff; text-align:left}
/*Specification End*/


.unit h1{color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif;  padding-left:20px; font:30px 'Open Sans', sans-serif; padding-top:50px; padding-bottom:40px;  width:100%; box-sizing:border-box}
.cal{ background-color:#f7f7f7;  padding-bottom:40px; overflow:hidden}
.cal h1{color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif; padding-left:20px; padding-top:50px; padding-bottom:30px;  width:100%; box-sizing:border-box}
.cal h2{color:#333;/*text-transform:uppercase;*/ font:14px 'Open Sans', sans-serif; padding-top:0px;padding-left:20px; font-weight:700; }
.cal h3{color:#5b5b5b; font:14px 'Open Sans', sans-serif; padding-top:10px; font-weight:500;padding-left:20px; padding-bottom:10px; line-height:24px; }
.cal-bg{ background-color:#f7f7f7; margin-top:60px; padding-bottom:0px; overflow:hidden; border:0px solid red;}


.about-developer{ padding-bottom:60px; overflow:hidden;}
.about-developer h1{color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif; padding-left:20px;  padding-top:50px; padding-bottom:40px;  width:100%; box-sizing:border-box}


.dev-con{}
.dev{ width:230px; float:left;}
.dev img{ border:1px solid #d4dcd5; width:50%; float:left;}

.dev-txt{ float:left;width:94%; float:left; color:#7a7a7a; font:14px 'Open Sans', sans-serif; line-height:26px; padding-top:10px; }
.dev-txt{ padding-left:20px; display:block;}

.dev img{ margin-left:20px; float:left;}
.dev-txt .read{ text-decoration:underline; cursor:pointer; color:#577ab5; }
.dev-txt .read:hover{ text-decoration:underline; color:#577ab5}
.developer-add{ padding-top:10px; float:left;}
.dev-txt .developer-add b{ font-weight:bold; color:#333;}


/*allTabs*/
.nodisplay,.firstdisplay,.seconddisplay,.thirddisplay,.fourdisplay,.fivedisplay,.sixdisplay,.sevendisplay,.eightdisplay,.ninedisplay,.tendisplay,.elevendisplay,.mapnone{ display:none; clear:both; padding-top:0px;}
.sodisplay{display:block}
.allTabs{border:1px solid #ddd; overflow:hidden; min-height:100px;}
.mainTab{height:50px; background:#ddd; padding:9px 0 0 0; box-sizing:border-box;}
.mainTab ul{margin:0 0 0 25px; height:50px; white-space:nowrap; overflow-x:auto;}
.mainTab li{display:inline-block;padding:0 25px;margin-right:10px; font:normal 14px/41px 'Open Sans', sans-serif, Helvetica; height:41px; box-sizing:border-box;border: 1px solid #ddd; cursor:pointer; color:#2c2d31;}
.mainTab li.active{color: #555;cursor: pointer;background-color:#fff;border: 1px solid #ddd;    border-bottom: 1px solid #fff;}
.firstTab,.secondTab,.thirdTab,.fourTab,.fiveTab,.sixTab,.sevenTab,.eightTab,.nineTab,.tenTab,.elevenTab{cursor: pointer;margin:0; clear:both; height:39px;padding:0 20PX; width:100%;border-bottom: 1px solid #ddd; white-space:nowrap;overflow-x:auto}
.firstTab li,.secondTab li,.thirdTab li,.fourTab li,.fiveTab li,.sixTab li,.sevenTab li,.eightTab li,.nineTab li,.tenTab li,.elevenTab li{display:inline-block;padding:0 10px;margin-right:10px; font:normal 14px/41px 'Open Sans', sans-serif, Helvetica; height:40px; box-sizing:border-box;}
.firstTab li.active,.secondTab li.active,.thirdTab li.active, .fourTab li.active, .fiveTab li.active, .sixTab li.active, .sevenTab li.active, .eightTab li.active, .nineTab li.active, .tenTab li.active,.elevenTab li.active{ border-bottom:4px solid #00368b}


.lhsFloor{width:100%;float:left;background:#f8f8fa;position:relative;}
.lhsFloor img{ text-align:center;}
.rhsFloor{width:100%;float:left;padding-left:30px;overflow:hidden; box-sizing:border-box;}
.rhsFloor h1{ width:70%; float:left;}
.rhsFloor h1 span{float:right;}
.offer{ width:100%; float:left; color:#00368b;font:700 14px 'Open Sans', sans-serif;padding:10px 10px 0px  0; padding-bottom:30px;/*text-transform:uppercase;*/}
.type{font:14px 'Open Sans', sans-serif;color:#7a7a7a;}
.type ul{ padding:0px 0px 30px 0px;}
.type li{ font:14px 'Open Sans', sans-serif;color:#7a7a7a; line-height:30px; float:left;padding-right:60px;background:url(../images/arrow.png) no-repeat 0px 5px;padding-left:15px;}
.type li:last-child{ padding-right:0px;}
.usp{font:14px 'Open Sans', sans-serif;color:#7a7a7a;padding-top:10px; float:left; width:100%;}
.usp b{ font-weight:600;}
.contact a{ float:left; background:#00368b;margin-top:20px;display:inline-block;padding:10px 15px; margin-bottom:10px;/*text-transform:uppercase;*/color:#fff;text-decoration:none; font-size:14px;}
.contact a:hover{color:#fff;text-decoration:none;background:#103365;}
/*allTabs*/
/*gallery*/
.gallerySwiper .swiper-slide{width:25%;}
.gallery h1{color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif; padding-left:20px; padding-top:50px; padding-bottom:40px;  width:100%; box-sizing:border-box}
.gallerySwiper .swiper-slide img {width:100%; margin:0px; padding:0px;}
/*.gallerySwiper .swiper-button-next,.spec-bg .swiper-button-next{width:40px;height:40px;margin-top:-20px;background-position:-41px -27px; right:0px;}
.gallerySwiper .swiper-button-prev,.spec-bg .swiper-button-prev{width:40px;height:40px;margin-top:-20px;background-position:0 -27px;left:0}*/


.gallerySwiper .swiper-button-next,.spec-bg .swiper-button-next{width:21px;height:23px;margin-top:-20px; right:0px; background:url(images/sprites.png); background-position:-20px -130px; }

.gallerySwiper .swiper-button-prev,.spec-bg .swiper-button-prev{width:21px;height:23px;margin-top:-20px;left:0; background:url(images/sprites.png);background-position:1px -130px;}


.gallerySwiper .swiper-slide {position:relative;}
.gallerySwiper .swiper-slide .example-image-link {position:relative;}
.gallerySwiper .swiper-slide .hovereffect i{color:#fff;margin:45% 0 0;}
.gallerySwiper .swiper-slide .hovereffect {opacity:1;z-index:9999;background: rgba(0,0,0,.5); transition: all 0.5s ease;top:0;position:absolute;width:100%;height:100%;display:block;opacity:0}
.gallerySwiper .swiper-slide a:hover .hovereffect{opacity:1;transition: all 0.5s ease;}
/*gallery*/




/*Map*/
.map-con{border:1px solid #eae5e5;}
.Map{ overflow:hidden;min-height:150px; }
.Map h1{ color:#333;/*text-transform:uppercase;*/ font:30px 'Open Sans', sans-serif; padding-top:50px; padding-left:20px; padding-bottom:40px;  width:100%; box-sizing:border-box}
.mapnone{clear:both; /*min-height:100px; */text-align:center}
.mapView{height:50px; position:relative;padding:9px 0 0 0;box-sizing:border-box;border-bottom:1px solid #ddd;float:left;width:100%; background:#ddd; color:#2c2d31;}
.mapView ul{margin:1px 0 0 26px; position:absolute; bottom:-1px;}
.mapView li{float:left;padding:0 25px;margin-right:10px; font:normal 14px/41px 'Open Sans', sans-serif, Helvetica; height:41px; box-sizing:border-box; cursor:pointer;}
.mapView li.active{color: #555;cursor: default;background: #fff;border: 0px solid #ddd;border-top-left-radius:0px;border-top-right-radius:0px; border-bottom:0;}
.mapView li:hover {background:#fff; }
.location{ width:100%; font-size:14px; line-height:30px; padding:10px 30px 10px 20px; text-align:left; overflow: hidden;}
.location li{ background:url(../images/arrow.png) no-repeat 10px 10px; padding-left:25px; width:50%; float:left; box-sizing:border-box;text-align:left}



/*Map*/

.form{display:none;position:fixed; top:80px;left:50%; margin: 0 0 0 -20%; width:40%; background:#fff; border:1px solid #ddd; min-height:300px;     z-index:99999;}
.form h2{font:18px 'Open Sans', sans-serif; color:#000; border-bottom:1px solid #ddd; padding:0 0 5px 15px; margin:10px 0 10px 0; position:relative}
.form-group{clear:both;height:33px; margin:0px 0px 20px 0; box-sizing:border-box; width:100%; padding:0px 15px}
.form-group label{float:left; width:25%; height:35px;font:14px/30px 'Open Sans', sans-serif;}
.form-group .form-control{float:right;width:75%; border:1px solid #ddd; height:30px; padding-left:10px;box-sizing:border-box;}
.form-group .submit{background:#00368b;border:0;font:14px/30px 'Open Sans', sans-serif; height:30px; color:#fff;}
.close{position:absolute; top:0px; right:10px; cursor:pointer}
.form-group.last{margin-bottom:10px}




/* Footer */

.footer-con{ background:#040407; font-size:12px; padding-bottom:10px;}
.mb-logo-footer{ text-align:center;  font-size:12px;display: block; float:left; 
    margin: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;}
		

.mb-logo-footer img{  vertical-align:middle;}
	
.footer-con .copyRightInfo{ font-size:12px;  text-align:center;}

}


.a2a_menu,
.a2a_menu * {
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;
float: none;
margin: 0;
padding: 0;
position: static;
height: auto;
width: auto;
}
.a2a_menu {
border-radius: 6px;
display: none;
direction: ltr;
background: #FFF;
font: 16px sans-serif-light, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;
color: #000;
line-height: 12px;
border: 1px solid #CCC;
vertical-align: baseline;
outline: 0;
overflow: hidden;
}
.a2a_mini {
min-width: 200px;
position: absolute;
width: 300px;
z-index: 9999997;
}
.a2a_overlay {
display: none;
background: #CCC;
_height: expression( ((e=document.documentElement.clientHeight)?e: document.body.clientHeight)+"px");
_width: expression( ((e=document.documentElement.clientWidth)?e: document.body.clientWidth)+"px");
filter: alpha(opacity=50);
opacity: .7;
position: fixed;
_position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
z-index: 9999998;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
transition: opacity .14s;
}
.a2a_full {
background: #FFF;
height: auto;
height: calc(320px);
top: 15%;
_top: expression(40+((e=document.documentElement.scrollTop)?e: document.body.scrollTop)+"px");
left: 50%;
margin-left: -320px;
position: fixed;
_position: absolute;
text-align: center;
width: 640px;
z-index: 9999999;
transition: transform .14s, opacity .14s;
}
.a2a_full_header,
.a2a_full_services,
.a2a_full_footer {
border: 0;
margin: 0;
padding: 12px;
box-sizing: border-box;
}
.a2a_full_header {
padding-bottom: 8px;
}
.a2a_full_services {
height: 280px;
overflow-y: scroll;
padding: 0 12px;
-webkit-overflow-scrolling: touch;
}
.a2a_full_services .a2a_i {
display: inline-block;
float: none;
width: 181px;
width: calc(33.334% - 18px);
}
div.a2a_full_footer {
font-size: 12px;
text-align: center;
padding: 8px 14px;
}
div.a2a_full_footer a,
div.a2a_full_footer a:visited {
display: inline;
font-size: 12px;
line-height: 14px;
padding: 8px 14px;
}
div.a2a_full_footer a:hover,
div.a2a_full_footer a:focus {
background: none;
border: 0;
color: #0166FF;
}
div.a2a_full_footer a span.a2a_s_a2a,
div.a2a_full_footer a span.a2a_w_a2a {
background-size: 14px;
border-radius: 3px;
display: inline-block;
height: 14px;
line-height: 14px;
margin: 0 3px 0 0;
vertical-align: top;
*vertical-align: middle;
width: 14px;
}
.a2a_modal {
background: #FFF;
font: 24px sans-serif-light, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;
height: auto;
top: 50%;
_top: expression(40+((e=document.documentElement.scrollTop)?e: document.body.scrollTop)+"px");
left: 50%;
margin-left: -320px;
margin-top: -36px;
position: fixed;
_position: absolute;
text-align: center;
width: 640px;
z-index: 9999999;
transition: transform .14s, opacity .14s;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.a2a_copy_link_container {
position: relative;
}
span.a2a_s_link#a2a_copy_link_icon,
span.a2a_w_link#a2a_copy_link_icon {
background-size: 48px;
border-radius: 0;
display: inline-block;
height: 48px;
left: 0;
line-height: 48px;
margin: 0 3px 0 0;
position: absolute;
vertical-align: top;
*vertical-align: middle;
width: 48px;
}
#a2a_copy_link_text {
background-color: transparent;
_background-color: #FFF;
border: 0;
color: #2A2A2A;
font: inherit;
height: 48px;
left: 62px;
padding: 0;
position: relative;
width: 564px;
width: calc(100% - 76px);
}
#a2a_copy_link_copied {
background-color: #0166ff;
background: linear-gradient(90deg, #0166ff 80%, #9cbfff);
color: #fff;
display: none;
font: inherit;
font-size: 16px;
padding: 6px 8px;
}
@media print {
.a2a_menu,
.a2a_overlay {
visibility: hidden;
}
}
@keyframes a2aFadeIn {
from {
opacity: 0;
}
to {
opacity: 1;
}
}
.a2a_starting {
opacity: 0;
}
.a2a_starting.a2a_full {
transform: scale(.8);
}
@media (max-width: 639px) {
.a2a_full {
border-radius: 0;
top: 15%;
left: 0;
margin-left: auto;
width: 100%;
}
.a2a_modal {
left: 0;
margin-left: 10px;
width: calc(100% - 20px);
}
}
@media (min-width: 318px) and (max-width: 437px) {
.a2a_full .a2a_full_services .a2a_i {
width: calc(50% - 18px);
}
}
@media (max-width: 317px) {
.a2a_full .a2a_full_services .a2a_i {
width: calc(100% - 18px);
}
}
@media (max-height: 436px) {
.a2a_full {
bottom: 40px;
height: auto;
top: 40px;
}
}
.a2a_menu a {
color: #0166FF;
text-decoration: none;
font: 16px sans-serif-light, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;
line-height: 14px;
height: auto;
width: auto;
outline: none;
-moz-outline: none;
}
.a2a_menu a:visited {
color: #0166FF
}
.a2a_menu a:hover,
.a2a_menu a:active,
.a2a_menu a:focus {
color: #2A2A2A;
border-color: #EEE;
border-style: solid;
background-color: #EEE;
text-decoration: none;
}
.a2a_menu span.a2a_s_find {
background-size: 24px;
height: 24px;
left: 8px;
position: absolute;
top: 7px;
width: 24px;
}
.a2a_menu span.a2a_s_find svg {
background-color: #FFF;
}
.a2a_menu span.a2a_s_find svg path {
fill: #CCC;
}
#a2a_menu_container {
display: inline-block
}
#a2a_menu_container {
_display: inline
}
.a2a_menu_find_container {
border: 1px solid #CCC;
border-radius: 6px;
padding: 2px 24px 2px 0;
position: relative;
text-align: left;
}
.a2a_cols_container .a2a_col1 {
overflow-x: hidden;
overflow-y: auto;
-webkit-overflow-scrolling: touch
}
.a2a_menu input,
.a2a_menu input[type="text"],
input.a2a_copy_link_text,
input.a2a_copy_link_text[type="text"] {
display: block;
background-image: none;
box-shadow: none;
line-height: 100%;
margin: 0;
outline: 0;
overflow: hidden;
padding: 0;
-moz-box-shadow: none;
-webkit-box-shadow: none;
-webkit-appearance: none
}
.a2a_menu_find_container input.a2a_menu_find {
background-color: transparent;
_background-color: #FFF;
border: 0;
color: #2A2A2A;
font: inherit;
font-size: 16px;
height: 28px;
line-height: 20px;
left: 38px;
outline: 0;
padding: 2px 0;
position: relative;
width: 99%;
}
.a2a_clear {
clear: both
}
.a2a_img {

border: 0;
line-height: 16px
}
.a2a_img,
.a2a_svg {
background-repeat: no-repeat;
display: block;
overflow: hidden;
}
.a2a_img {
height: 16px;
line-height: 16px;
width: 16px;
}
.a2a_svg {
height: 32px;
line-height: 32px;
width: 32px;
}
.a2a_svg svg {
background-repeat: no-repeat;
background-position: 50% 50%;
border: none;
display: block;
left: 0;
margin: 0 auto;
overflow: hidden;
padding: 0;
position: relative;
top: 0;
}
a.a2a_i,
i.a2a_i {
display: block;
float: left;
border: 1px solid #FFF;
line-height: 24px;
padding: 6px 8px;
text-align: left;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width: 132px;
}
a.a2a_i span,
a.a2a_more span {
display: inline-block;
overflow: hidden;
vertical-align: top;
*vertical-align: middle;
}
a.a2a_i .a2a_img,
a.a2a_i .a2a_svg {
margin: 0 6px 0 0;
}
a.a2a_i .a2a_svg,
a.a2a_more .a2a_svg {
background-size: 24px;
height: 24px;
line-height: 24px;
width: 24px;
}
a.a2a_sss:hover {
border-left: 1px solid #CCC;
}
a.a2a_menu_show_more_less {
border-bottom: 1px solid #FFF;
border-left: 0;
border-right: 0;
line-height: 24px;
margin: 6px 0 0;
padding: 6px
}
a.a2a_menu_show_more_less span {
display: inline-block;
height: 24px;
margin: 0 6px 0 0;
}
.a2a_kit .a2a_svg {
background-repeat: repeat;
}
.a2a_default_style a {
float: left;
line-height: 16px;
padding: 0 2px
}
.a2a_default_style a:hover .a2a_img,
.a2a_default_style a:hover .a2a_svg,
.a2a_floating_style a:hover .a2a_img,
.a2a_floating_style a:hover .a2a_svg {
opacity: .7;
}
.a2a_default_style .a2a_count,
.a2a_default_style .a2a_svg,
.a2a_floating_style .a2a_svg,
.a2a_vertical_style .a2a_count,
.a2a_menu .a2a_svg {
border-radius: 4px;
}
.a2a_default_style .a2a_img,
.a2a_default_style .a2a_dd,
.a2a_default_style .a2a_svg,
.a2a_default_style .a2a_counter img {
float: left;
}
.a2a_default_style .a2a_img_text {
margin-right: 4px
}
.a2a_default_style .a2a_divider {
border-left: 1px solid #000;
display: inline;
float: left;
height: 16px;
line-height: 16px;
margin: 0 5px
}
.a2a_kit a {
cursor: pointer
}
.a2a_floating_style {
background-color: #fff;
border-radius: 6px;
padding: 4px;
position: fixed;
z-index: 9999995;
animation: a2aFadeIn .2s ease-in;
}
.a2a_vertical_style a {
clear: left;
display: block;
overflow: hidden;
padding: 4px;
text-decoration: none;
}
.a2a_floating_style.a2a_default_style {
bottom: 0;
}
.a2a_floating_style.a2a_default_style a {
padding: 4px;
}
.a2a_count {
background-color: #fff;
border: 1px solid #ccc;
box-sizing: border-box;
color: #2a2a2a;
display: block;
float: left;
font: 12px Arial, Helvetica, sans-serif;
height: 16px;
margin-left: 4px;
position: relative;
text-align: center;
width: 50px;
}
.a2a_count:before,
.a2a_count:after {
border: solid transparent;
border-width: 4px 4px 4px 0;
content: "";
height: 0;
left: 0;
line-height: 0;
margin: -4px 0 0 -4px;
position: absolute;
top: 50%;
width: 0;
}
.a2a_count:before {
border-right-color: #ccc;
}
.a2a_count:after {
border-right-color: #fff;
margin-left: -3px;
}
.a2a_count span {
animation: a2aFadeIn .14s ease-in;
}
.a2a_vertical_style .a2a_counter img {
display: block;
}
.a2a_vertical_style .a2a_count {
float: none;
margin-left: 0;
margin-top: 6px;
}
.a2a_vertical_style .a2a_count:before,
.a2a_vertical_style .a2a_count:after {
border: solid transparent;
border-width: 0 4px 4px 4px;
content: "";
height: 0;
left: 50%;
line-height: 0;
margin: -4px 0 0 -4px;
position: absolute;
top: 0;
width: 0;
}
.a2a_vertical_style .a2a_count:before {
border-bottom-color: #ccc;
}
.a2a_vertical_style .a2a_count:after {
border-bottom-color: #fff;
margin-top: -3px;
}
.a2a_nowrap {
white-space: nowrap
}
.a2a_note {
margin: 0 auto;
padding: 9px;
font-size: 12px;
text-align: center
}
.a2a_note .a2a_note_note {
margin: 0;
color: #2A2A2A
}
.a2a_wide a {
display: block;
margin-top: 3px;
border-top: 1px solid #EEE;
text-align: center
}
.a2a_label {
position: absolute !important;
clip: rect(1px 1px 1px 1px);
clip: rect(1px, 1px, 1px, 1px);
overflow: hidden;
}
iframe.a2a_shim {
background-color: transparent;
border: 0;
bottom: 0;
filter: alpha(opacity=0);
height: 100%;
left: 0;
right: 0;
top: 0;
position: absolute;
width: 100%;
z-index: 9999996;
_height: expression( ((e=document.documentElement.clientHeight)?e: document.body.clientHeight)+"px");
_width: expression( ((e=document.documentElement.clientWidth)?e: document.body.clientWidth)+"px");
}
.a2a_dd img {
border: 0;
-ms-touch-action: manipulation;
}
.a2a_button_facebook_like iframe {
max-width: none;
}
iframe[id^="PIN_"][id$="_nag"] {
display: none !important;
}
.a2a_i_a2a {
background-position: 0 0!important
}
.a2a_i_a2a_sm {
background-position: 0 -17px!important
}
.a2a_i_agregator {
background-position: 0 -34px!important
}
.a2a_i_amazon {
background-position: 0 -51px!important
}
.a2a_i_aol {
background-position: 0 -68px!important
}
.a2a_i_app_net {
background-position: 0 -85px!important
}
.a2a_i_baidu {
background-position: 0 -102px!important
}
.a2a_i_balatarin {
background-position: 0 -119px!important
}
.a2a_i_behance {
background-position: 0 -136px!important
}
.a2a_i_bibsonomy {
background-position: 0 -153px!important
}
.a2a_i_bitty {
background-position: 0 -170px!important
}
.a2a_i_blinklist {
background-position: 0 -187px!important
}
.a2a_i_blogger {
background-position: 0 -204px!important
}
.a2a_i_blogmarks {
background-position: 0 -221px!important
}
.a2a_i_bookmark {
background-position: 0 -238px!important
}
.a2a_i_bookmarks_fr {
background-position: 0 -255px!important
}
.a2a_i_box {
background-position: 0 -272px!important
}
.a2a_i_buddymarks {
background-position: 0 -289px!important
}
.a2a_i_buffer {
background-position: 0 -306px!important
}
.a2a_i_care2 {
background-position: 0 -323px!important
}
.a2a_i_chrome {
background-position: 0 -340px!important
}
.a2a_i_citeulike {
background-position: 0 -357px!important
}
.a2a_i_dailyrotation {
background-position: 0 -374px!important
}
.a2a_i_default {
background-position: 0 -391px!important
}
.a2a_i_delicious {
background-position: 0 -408px!important
}
.a2a_i_designfloat {
background-position: 0 -425px!important
}
.a2a_i_diary_ru {
background-position: 0 -442px!important
}
.a2a_i_diaspora {
background-position: 0 -459px!important
}
.a2a_i_digg {
background-position: 0 -476px!important
}
.a2a_i_dihitt {
background-position: 0 -493px!important
}
.a2a_i_diigo {
background-position: 0 -510px!important
}
.a2a_i_dzone {
background-position: 0 -527px!important
}
.a2a_i_email {
background-position: 0 -544px!important
}
.a2a_i_evernote {
background-position: 0 -561px!important
}
.a2a_i_facebook {
background-position: 0 -578px!important
}
.a2a_i_fark {
background-position: 0 -595px!important
}
.a2a_i_feed {
background-position: 0 -612px!important
}
.a2a_i_feedblitz {
background-position: 0 -629px!important
}
.a2a_i_feedbucket {
background-position: 0 -646px!important
}
.a2a_i_feedly {
background-position: 0 -663px!important
}
.a2a_i_feedmailer {
background-position: 0 -680px!important
}
.a2a_i_find {
background-position: 0 -697px!important
}
.a2a_i_firefox {
background-position: 0 -714px!important
}
.a2a_i_flickr {
background-position: 0 -731px!important
}
.a2a_i_flipboard {
background-position: 0 -748px!important
}
.a2a_i_folkd {
background-position: 0 -765px!important
}
.a2a_i_foursquare {
background-position: 0 -782px!important
}
.a2a_i_github {
background-position: 0 -799px!important
}
.a2a_i_gmail {
background-position: 0 -816px!important
}
.a2a_i_google {
background-position: 0 -833px!important
}
.a2a_i_google_classroom {
background-position: 0 -850px!important
}
.a2a_i_google_plus {
background-position: 0 -867px!important
}
.a2a_i_hatena {
background-position: 0 -884px!important
}
.a2a_i_instapaper {
background-position: 0 -901px!important
}
.a2a_i_itunes {
background-position: 0 -918px!important
}
.a2a_i_jamespot {
background-position: 0 -935px!important
}
.a2a_i_kakao {
background-position: 0 -952px!important
}
.a2a_i_kik {
background-position: 0 -969px!important
}
.a2a_i_kindle {
background-position: 0 -986px!important
}
.a2a_i_klipfolio {
background-position: 0 -1003px!important
}
.a2a_i_known {
background-position: 0 -1020px!important
}
.a2a_i_line {
background-position: 0 -1037px!important
}
.a2a_i_link {
background-position: 0 -1054px!important
}
.a2a_i_linkedin {
background-position: 0 -1071px!important
}
.a2a_i_livejournal {
background-position: 0 -1088px!important
}
.a2a_i_mail_ru {
background-position: 0 -1105px!important
}
.a2a_i_mendeley {
background-position: 0 -1122px!important
}
.a2a_i_meneame {
background-position: 0 -1139px!important
}
.a2a_i_miro {
background-position: 0 -1156px!important
}
.a2a_i_mixi {
background-position: 0 -1173px!important
}
.a2a_i_myspace {
background-position: 0 -1190px!important
}
.a2a_i_netlog {
background-position: 0 -1207px!important
}
.a2a_i_netvibes {
background-position: 0 -1224px!important
}
.a2a_i_netvouz {
background-position: 0 -1241px!important
}
.a2a_i_newsalloy {
background-position: 0 -1258px!important
}
.a2a_i_newsisfree {
background-position: 0 -1275px!important
}
.a2a_i_newsvine {
background-position: 0 -1292px!important
}
.a2a_i_nujij {
background-position: 0 -1309px!important
}
.a2a_i_odnoklassniki {
background-position: 0 -1326px!important
}
.a2a_i_oknotizie {
background-position: 0 -1343px!important
}
.a2a_i_oldreader {
background-position: 0 -1360px!important
}
.a2a_i_outlook_com {
background-position: 0 -1377px!important
}
.a2a_i_pinboard {
background-position: 0 -1394px!important
}
.a2a_i_pinterest {
background-position: 0 -1411px!important
}
.a2a_i_plurk {
background-position: 0 -1428px!important
}
.a2a_i_pocket {
background-position: 0 -1445px!important
}
.a2a_i_podnova {
background-position: 0 -1462px!important
}
.a2a_i_print {
background-position: 0 -1479px!important
}
.a2a_i_printfriendly {
background-position: 0 -1496px!important
}
.a2a_i_protopage {
background-position: 0 -1513px!important
}
.a2a_i_pusha {
background-position: 0 -1530px!important
}
.a2a_i_qzone {
background-position: 0 -1547px!important
}
.a2a_i_reddit {
background-position: 0 -1564px!important
}
.a2a_i_rediff {
background-position: 0 -1581px!important
}
.a2a_i_renren {
background-position: 0 -1598px!important
}
.a2a_i_segnalo {
background-position: 0 -1615px!important
}
.a2a_i_share {
background-position: 0 -1632px!important
}
.a2a_i_sina_weibo {
background-position: 0 -1649px!important
}
.a2a_i_sitejot {
background-position: 0 -1666px!important
}
.a2a_i_skype {
background-position: 0 -1683px!important
}
.a2a_i_slashdot {
background-position: 0 -1700px!important
}
.a2a_i_sms {
background-position: 0 -1717px!important
}
.a2a_i_snapchat {
background-position: 0 -1734px!important
}
.a2a_i_stumbleupon {
background-position: 0 -1751px!important
}
.a2a_i_stumpedia {
background-position: 0 -1768px!important
}
.a2a_i_svejo {
background-position: 0 -1785px!important
}
.a2a_i_symbaloo {
background-position: 0 -1802px!important
}
.a2a_i_telegram {
background-position: 0 -1819px!important
}
.a2a_i_thefreedictionary {
background-position: 0 -1836px!important
}
.a2a_i_thefreelibrary {
background-position: 0 -1853px!important
}
.a2a_i_tumblr {
background-position: 0 -1870px!important
}
.a2a_i_twiddla {
background-position: 0 -1887px!important
}
.a2a_i_twitter {
background-position: 0 -1904px!important
}
.a2a_i_typepad {
background-position: 0 -1921px!important
}
.a2a_i_viadeo {
background-position: 0 -1938px!important
}
.a2a_i_viber {
background-position: 0 -1955px!important
}
.a2a_i_vimeo {
background-position: 0 -1972px!important
}
.a2a_i_vk {
background-position: 0 -1989px!important
}
.a2a_i_wanelo {
background-position: 0 -2006px!important
}
.a2a_i_webnews {
background-position: 0 -2023px!important
}
.a2a_i_wechat {
background-position: 0 -2040px!important
}
.a2a_i_whatsapp {
background-position: 0 -2057px!important
}
.a2a_i_winksite {
background-position: 0 -2074px!important
}
.a2a_i_wordpress {
background-position: 0 -2091px!important
}
.a2a_i_wykop {
background-position: 0 -2108px!important
}
.a2a_i_xing {
background-position: 0 -2125px!important
}
.a2a_i_y18 {
background-position: 0 -2142px!important
}
.a2a_i_yahoo {
background-position: 0 -2159px!important
}
.a2a_i_yim {
background-position: 0 -2176px!important
}
.a2a_i_yoolink {
background-position: 0 -2193px!important
}
.a2a_i_youmob {
background-position: 0 -2210px!important
}
.a2a_i_youtube {
background-position: 0 -2227px!important
}
.a2a_i_yummly {
background-position: 0 -2244px!important
}


.logo{
    font-size: 32px;
    font-weight: 900;    
    text-decoration: none;    
    align-items: stretch;
    margin-top: 17%;
    color: #103365;
}
.logo span{color: #00368b;}
.logo img{border-radius: 6px}
.hide{display: none;
.block{display: block !important}
.slide-gal{width: 290.25px; margin-right: 3px;}
.flot-left{float: left!important;}
