@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://file.myfontastic.com/nCztnUosR7TTV43FDFzoMU/icons.css);
* {
    box-sizing: border-box
}
.nivoSlider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden
}
.nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: none;
    max-height: 600px
}
.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important
}
.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: white;
    filter: alpha(opacity=0);
    opacity: 0
}
.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0
}
.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden
}
.nivo-box img {
    display: block
}
.nivo-caption {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #000;
    color: #fff;
    width: 100%;
    z-index: 8;
    padding: 5px 10px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
    -moz-opacity: 0.8;
    filter: alpha(opacity=8);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.nivo-caption p {
    padding: 5px;
    margin: 0
}
.nivo-caption a {
    display: inline !important
}
.nivo-html-caption {
    display: none
}
.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer
}
.nivo-prevNav {
    left: 0px
}
.nivo-nextNav {
    right: 0px
}
.nivo-controlNav {
    text-align: center;
    padding: 15px 0
}
.nivo-controlNav a {
    cursor: pointer
}
.nivo-controlNav a.active {
    font-weight: bold
}
.jcarousel-wrapper {
    margin: 0;
    position: relative
}
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%
}
.jcarousel ul {
    width: 20000em;
    position: relative
}
.jcarousel li {
    width: 200px;
    float: left
}
.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important
}
.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px
}
.jcarousel-control-prev {
    left: 0
}
.jcarousel-control-next {
    right: 0
}
.jcarousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0
}
.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C
}
.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7
}
.specify-jcarousel-wrapper {
    margin: 0;
    position: relative
}
.specify-jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%
}
.specify-jcarousel>ul {
    width: 20000em;
    position: relative
}
.specify-jcarousel>ul>li {
    width: 200px;
    float: left
}
.specify-jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important
}
.specify-jcarousel-control-prev,
.specify-jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px
}
.specify-jcarousel-control-prev {
    left: 0
}
.specify-jcarousel-control-next {
    right: 0
}
.specify-jcarousel-pagination {
    position: absolute;

    bottom: 10px;
    left: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0
}
.specify-jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C
}
.specify-jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7
}
.unit-details-jcarousel-wrapper {
    margin: 0;
    position: relative
}
.unit-details-jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%
}
.unit-details-jcarousel>ul {
    width: 20000em;
    position: relative
}
.unit-details-jcarousel>ul>li {
    width: 200px;
    float: left
}
.unit-details-jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important
}
.unit-details-jcarousel-control-prev,
.unit-details-jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px
}
.unit-details-jcarousel-control-prev {
    left: 0
}
.unit-details-jcarousel-control-next {
    right: 0
}
.unit-details-jcarousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0
}
.unit-details-jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C
}
.unit-details-jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7
}
input:focus {
    outline: none
}
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, Times;
    color: #272828;
    font-size: 1em
}
a {
    color: #272828;
    text-decoration: underline
}
a:hover {
    color: #272828;
    text-decoration: none
}
a img {
    border: 0 none
}
ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style: none
}
p {
    margin: 0;
    padding: 0;
    line-height: 30px;
    color: #272828;
    clear: both
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}
h2 {
    font-family:  "Open Sans", Arial, Times, Roboto;
    font-weight: 300;
    color: #090909;
    font-size: 20px
}
h3 {
    font-family:  "Open Sans", Arial, Times, Roboto;
    font-weight: 300;
    color: #090909;
    font-size: 18px
}
.title {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 20px
}
.title h2 {
    display: block;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    max-width: 1170px
}

.headnav {
    position:absolute !important;
}

.container:before,
.container:after {
    content: " ";
    display: table
}
.container:after {
    clear: both
}
@media only screen and (max-width: 1023px) {
    .container {
        padding-left: 10px;
        padding-right: 10px
    }
}
section.container,
section.container-fluid {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative
}
.row:before,
.row:after {
    content: " ";
    display: table
}
.row:after {
    clear: both
}
@media only screen and (min-width: 1181px) {
    .row {
        margin-left: -15px;
        margin-right: -15px
    }
}
.row-inner {
    max-width: 1170px;
    margin: 0 auto;
    position: relative
}
.container-fluid {
    width: 100%
}
.container-fluid .row {
    margin: 0 0
}
[class*="col-md-"] {
    padding-left: 15px;
    padding-right: 15px
}
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
    float: left
}
.col-md-1 {
    width: 8.33333%
}
.col-md-2 {
    width: 16.6667%
}
.col-md-3 {
    width: 25%
}
.col-md-4 {
    width: 33.3333%
}
.col-md-5 {
    width: 41.6667%
}
.col-md-6 {
    width: 50%
}
.col-md-7 {
    width: 58.3333%
}
.col-md-8 {
    width: 66.6667%
}
.col-md-9 {
    width: 75%
}
.col-md-10 {
    width: 83.3333%
}
.col-md-11 {
    width: 91.6667%
}
.col-md-12 {
    width: 100%
}
.responsive-img {
    display: block;
    max-width: 100%;
    height: auto
}
form input[type="text"] {
    font-family:  "Open Sans", Arial, Times, Roboto;
    color: #272828;
    font-size: 1em;
    border: 1px #222020 solid;
    padding: 7px 10px;
    width: 100%
}
form input[type="submit"] {
    font-family:  "Open Sans", Arial, Times, Roboto;
    color: #ffffff;
    font-size: 1em;
    border: 0 none;
    padding: 7px 10px;
    max-width: 100%;
    cursor: pointer;
    background-color: #f34b0a;
    text-align: center;
    text-transform: uppercase
}
form input[type="submit"]:hover {
    background-color: #da4207
}
.arrow-icon {
    width: 40px;
    height: 40px;
    background-color: #353737;
    color: #fff;
    line-height: 39px;
    text-align: center;
    border-radius: 0;
    display: block;
    font-size: 1em;
    text-decoration: none;
    padding: 2px 0 0 3px
}
.arrow-icon:hover {
    color: #fff
}
@media only screen and (max-width: 500px) {
    .arrow-icon {
        width: 30px;
        height: 30px;
        line-height: 29px
    }
}
.arrow-icon.specify-jcarousel-prev,
.arrow-icon.jcarousel-control-prev,
.arrow-icon.ud-jcarousel-control-prev {
    padding-left: 0
}
.arrow-icon span {
    display: block;
    line-height: inherit
}
header {
    padding: 15px 0;
    z-index: 999;
    transition: padding .5s, position .5s
}
@media only screen and (max-width: 1023px) {
    header {
        padding: 15px 0
    }
}
header.f-nav {
    position: fixed;
    width: 100%;
    max-width: 100%;
    background: #fff;
    box-shadow: 5px 0px 5px #000;
    padding-top: 5px;
    padding-bottom: 5px;
    filter: progid: DXImageTransform.Microsoft.DropShadow(OffX=5, OffY=5, Color=#000000);
    z-index: 999;
    transition: position .5s, padding .5s;
    animation: animationFrames linear .5s
}
header.f-nav h2#logo {
    font-size: 0.9em
}
header.f-nav .row {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0
}
header h2#logo {
    font-size: 1em;
    font-weight: normal;
    float: left;
    color: #272828;
    font-family:  "Open Sans", Arial, Times, Roboto;
    line-height: normal
}
@media only screen and (max-width: 500px) {
    header h2#logo {
        font-size: 0.9em
    }
}
header h2#logo .avalon {
    float: left;
    letter-spacing: 5px;
    line-height: 25px
}
header h2#logo .exotica {
    float: left;
    font-size: 0.8em;
    background-color: #272828;
    color: #fff;
    line-height: 24px;
    padding: 0 7px
}
header h2#logo .logo-text-left {
    float: left;
    margin-right: 5px
}
@media only screen and (max-width: 500px) {
    header h2#logo .logo-text-left {
        padding-top: 2px
    }
}
header h2#logo .logo-text-left .logo-text-1 {
    display: block;
    font-weight: 700;
    font-size: 1.4em
}
@media only screen and (max-width: 500px) {
    header h2#logo .logo-text-left .logo-text-1 {
        font-size: 1.2em
    }
}
header h2#logo .logo-text-left .logo-text-2 {
    display: block;
    font-weight: 300;
    font-size: 0.75em;
    letter-spacing: .4px
}
@media only screen and (max-width: 500px) {
    header h2#logo .logo-text-left .logo-text-2 {
        font-size: 0.7em
    }
}
header h2#logo .logo-text-right {
    float: right;
    background-color: #272828;
    color: #fff;
    padding: 3px 5px
}
@media only screen and (max-width: 500px) {
    header h2#logo .logo-text-right {
        padding: 1px 4px 0px 4px
    }
}
header h2#logo .logo-text-right .logo-text-3 {
    display: block;
    font-weight: 800;
    font-size: .75em;
    letter-spacing: .5px
}
header h2#logo .logo-text-right .logo-text-4 {
    display: block;
    font-weight: 800;
    font-size: 1.3em;
    text-align: center;
    line-height: 21px
}
@media only screen and (max-width: 1023px) {
    header h2#logo .logo-text-right .logo-text-4 {
        font-size: 1.1em
    }
}
header nav {
    float: right;
    font-size: 0.8em;
    padding-top: 14px
}
header nav a {
    text-decoration: none;
    float: left;
    padding: 2px 0 0 21px;
    position: relative;
    text-align: center;
    text-transform: uppercase
}
header nav a.anchorPaddingNone {
    padding-left: 0
}
header nav a sup {
    position: absolute;
    margin-top: -3px
}
header nav a.active,
header nav a:hover {
    font-weight: 700
}
@media only screen and (max-width: 1023px) {
    header nav {
        display: none;
        float: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        padding: 0 10px
    }
    header nav a {
        float: none;
        display: block;
        background-color: #272828;
        color: #fff;
        margin: 0;
        padding: 7px 15px;
        text-align: right
    }
}
@media only screen and (max-width: 1023px) {
    header nav {
        top: 45px
    }
	
	header nav a.active,
header nav a:hover { color:#fff;}
}
header.f-nav nav a {
    padding: 0
}
@media only screen and (max-width: 500px) {
    header.f-nav nav a {
        padding: 7px 15px !important
    }
}
header nav.navMob {
    padding: 0
}
header .navbar-toggle {
    float: right;
    background-color: #272828;
    display: none;
    padding: 1px 5px 5px 5px;
    margin-top: 13px
}
@media only screen and (max-width: 1023px) {
    header .navbar-toggle {
        display: block
    }
}
header .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin: 4px 0 0 0;
    background-color: #fff
}
@keyframes animationFrames {
    0% {
        transform: translate(0px, -190px)
    }
    100% {
        transform: translate(0px, 0px)
    }
}
footer {
    background-color: #000;
    padding: 7px 0
}
footer .col-right {
    float: right
}
footer .col-right img {
    display: block
}
footer .col-left {
    overflow: hidden;
    font-size: 0.7em;
    line-height: 12px;
    color: #807e7e
}
#slider-home {
    position: relative;
    max-width: 1366px;
    max-width: 100%;
    padding-top: 0;
    margin-bottom: 0
}
#slider-home.opacityNone {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}
@media only screen and (max-width: 767px) {
    #slider-home {
        margin-bottom: 0;
        padding-bottom: 0
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #slider-home {
        margin-bottom: 0;
        padding-bottom: 0
    }
}
#slider-home .arrow-down-icon {
    background: url(../images/icons.png) 0 -260px no-repeat;
    width: 19px;
    height: 51px;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99;
    cursor: pointer;
    transition: bottom 1s
}
#slider-home .arrow-down-icon.active {
    bottom: 50px;
    transition: bottom 1s
}
@media only screen and (max-width: 767px) {
    #slider-home .arrow-down-icon {
        display: none
    }
}
#slider-home .nivo-caption {
    background: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";

    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    padding: 0;
    text-align: center;
    bottom: 0;
    top: 0
}
#slider-home .nivo-caption span {
    display: block
}
#slider-home .nivo-caption span.icon-ruppee {
    display: inline;
    font-size: .7em
}
#slider-home .nivo-caption .trans-black-slider {
    background: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=75);
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5
}
#slider-home .nivo-caption .slider-head-01 {
    position: relative;
    z-index: 10;
    font-family:  "Open Sans", Arial, Times, Roboto;
    text-transform: uppercase;
    font-size: 1.9em;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 130px 0 0 0;
    transition: padding 1s, font-size 1s, letter-spacing 1s
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    #slider-home .nivo-caption .slider-head-01 {
        padding-top: 100px
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #slider-home .nivo-caption .slider-head-01 {
        padding-top: 50px
    }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #slider-home .nivo-caption .slider-head-01 {
        font-size: 1.4em;
        padding-top: 50px
    }
}
@media only screen and (max-width: 500px) {
    #slider-home .nivo-caption .slider-head-01 {
        padding-top: 40px;
        font-size: 1.1em;
        letter-spacing: normal
    }
}
#slider-home .nivo-caption .slider-head-02 {
    position: relative;
    z-index: 10;
    font-weight: 300;
    font-size: 1.3em;
    padding: 30px 0 40px 0;
    transition: font-size 1s, padding 1s
}
#slider-home .nivo-caption .slider-head-02 strong {
    font-weight: 600
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    #slider-home .nivo-caption .slider-head-02 {
        padding-top: 20px;
        padding-bottom: 20px
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #slider-home .nivo-caption .slider-head-02 {
        font-size: 1.1em;
        padding: 20px 150px
    }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #slider-home .nivo-caption .slider-head-02 {
        font-size: 1em;
        padding: 15px 70px
    }
}
@media only screen and (max-width: 500px) {
    #slider-home .nivo-caption .slider-head-02 {
        font-size: 13px;
        padding: 8px 30px
    }
}
#slider-home .nivo-caption .slider-head-03 {
    position: relative;
    z-index: 10;
    font-family:  "Open Sans", Arial, Times, Roboto;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase
}
@media only screen and (max-width: 500px) {
    #slider-home .nivo-caption .slider-head-03 {
        font-size: 12px;
        letter-spacing: normal
    }
}
#slider-home .nivo-controlNav {
    position: absolute;
    bottom: 30px;
    z-index: 10;
    left: 0;
    right: 0;
    padding: 0 0 0 0;
    transition: bottom 1s
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #slider-home .nivo-controlNav {
        bottom: 10px
    }
}
@media only screen and (max-width: 500px) {
    #slider-home .nivo-controlNav {
        bottom: 7px
    }
}
#slider-home .nivo-controlNav a {
    color: #fff;
    font-size: 0;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px #fff solid;
    border-radius: 100%;
    margin: 0 5px
}
#slider-home .nivo-controlNav a.active {
    background-color: #fff
}
#slider-home .nivo-directionNav a {
    background: url(../images/icons.png) 0 0 no-repeat;
    width: 40px;
    height: 40px;
    display: block;
    font-size: 0
}
@media only screen and (max-width: 500px) {
    #slider-home .nivo-directionNav a {
        width: 30px;
        height: 30px;
        top: 48%;
        background-position: 0 0;
        background-size: 75px auto
    }
}
#slider-home .nivo-directionNav a.nivo-nextNav {
    background-position: 0 -50px;
    right: 20px
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #slider-home .nivo-directionNav a.nivo-nextNav {
        right: 5px
    }
}
@media only screen and (max-width: 500px) {
    #slider-home .nivo-directionNav a.nivo-nextNav {
        width: 30px;
        height: 30px;
        top: 48%;
        background-position: 0 -38px;
        background-size: 75px auto;
        right: 0
    }
}
#slider-home .nivo-directionNav a.nivo-prevNav {
    left: 20px
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #slider-home .nivo-directionNav a.nivo-prevNav {
        left: 5px
    }
}
@media only screen and (max-width: 500px) {
    #slider-home .nivo-directionNav a.nivo-prevNav {
        left: 0
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1180px) {
    #slider-home .nivo-directionNav a {
        top: 37%
    }
}
.loader-slider {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 320px auto auto auto;
    z-index: -1
}
@media only screen and (max-width: 500px) {
    .loader-slider {
        margin-top: 120px
    }
	.fm2{ height:290px !important; overflow:visible; z-index:9999}
}
.loader-slider img {
    width: 30px;
    height: 30px;
    display: block
}
.contact-form {
    position: relative;
    background: #161818
}
.contact-form#contact-form-top {
    position: absolute;
    left: 0;
    right: 0;
    margin: -230px auto 0 auto;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0px 10px 5px;
    transition: margin 1s, position 1s;
    font-family:  "Open Sans", Arial, Times, Roboto
}


.fm1{ height:100px; overflow:visible; z-index:9999}

.formasd{ height:auto !important;}


.fm2{ height:140px; overflow:visible; z-index:9999}
.formasd1{ height:auto !important;}




.fm3{ height:200px; overflow:visible; z-index:9999}



.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto
}

@media only screen and (max-width: 1023px) {
    .contact-form#contact-form-top .col-md-2,
    .contact-form#contact-form-top .col-md-3 {
        padding-bottom: 15px;
        padding-top: 5px
    }
	.fm1{ display:none;}
	
}
@media only screen and (max-width: 1023px) {
    .contact-form#contact-form-top {
        padding-bottom: 15px
    }
}
@media only screen and (max-width: 1023px) {
    .contact-form#contact-form-top .col-md-2.areaList {
        width: 25%
    }
}
@media only screen and (max-width: 1023px) {
    .contact-form#contact-form-top .col-md-2.areaList {
        width: 43%
    }
}
@media only screen and (max-width: 1023px) {
    .contact-form#contact-form-top .col-md-2.areaList+.col-md-3 {
        width: 57%
    }
}
.contact-form#contact-form-top.contactOpacityNone {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}
@media only screen and (max-width: 1023px) {
    .contact-form#contact-form-top {
        margin-top: 0;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #000;
        margin-top: 0
    }
    .contact-form#contact-form-top form#contact-form {
        display: none
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1180px) {
    .contact-form#contact-form-top {
        margin-top: -210px
    }
}
.contact-form .row-form {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;

}
.contact-form .row-form .title {
    padding-left: 10px;
    top: -5px
}
.contact-form .title {
    position: absolute;
    top: -20px;
    left: 0;
    padding:0;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600
}
.contact-form .title.title-clck {
    display: none;
    cursor: pointer;
    top: -9px
}
@media only screen and (max-width: 1023px) {
    .contact-form .title {
        position: relative;
        top: -15px;
        text-align: left;
        padding: 0 5px 0 5px;
        display: none
    }
    .contact-form .title.title-clck {
        display: block
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .contact-form {
        margin-top: -210px
    }
}
.contact-form input[type=text] {
    background: none;
    border-color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=35);
    -webkit-opacity: 0.35;
    -moz-opacity: 0.35;
    -khtml-opacity: 0.35;
    opacity: 0.35;
    color: #fff
}
.contact-form .col-md-3 {
    width: 19%;
    padding: 0 8px;
    position: relative
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .contact-form .col-md-3 {
        padding: 0 5px
    }
}
@media only screen and (max-width: 1023px) {
    .contact-form .col-md-3 {
        width: 100%
    }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    .contact-form .col-md-3 {
        width: 100%
    }
}
.contact-form .col-md-2 {
    width: 12%;
    padding: 0 8px;
    position: relative
}
@media only screen and (max-width: 1023px) {
    .contact-form .col-md-2 {
        width: 100%
    }
}
.contact-form .col-md-2 input[type=submit] {
    width: 100%
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    .contact-form .col-md-2 {
        width: 100%
    }
}
.contact-form .areaList .areaListSub {
    position: relative
}
.contact-form .areaList select {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}
.contact-form .areaList .countryCodeInput {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    background: url(../images/icons.png) right -496px no-repeat
}
.contact-form label {
    display: block;
    font-size: 1em;
    padding: 7px 11px;
    color: #fff;
    height: 20px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=35);
    -webkit-opacity: 0.35;
    -moz-opacity: 0.35;
    -khtml-opacity: 0.35;
    opacity: 0.35;
    position: absolute;
    font-weight: 300;
    transition: opacity .5s, color .5s, margin-top .5s, padding .5s, font-size .5s
}
.contact-form .input-focused label {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    color: #fff;
    margin-top: -27px;
    padding-left: 0;
    font-size: 0.8em
}
.contact-form .input-focused input[type=text] {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1
}
.contact-form .form-error-msg-box {
    color: #f00;
    font-size: 0.8em;
    padding: 3px 0 0 0;
    min-height: 20px;
    display: block;
    white-space: nowrap
}
@media only screen and (max-width: 1023px) {
    .contact-form .form-error-msg-box {
        min-height: 1px
    }
}
.contact-form#contact-form-mid {
    padding: 0;
    background: none;
    position: fixed;
    z-index: 99;
    bottom: 100px;
    right: 10px;
    display: none;
    transition: all 1s ease;
    max-width: 1100px
}
.contact-form#contact-form-mid .form-error-msg-box {
    white-space: nowrap
}
.contact-form#contact-form-mid.contact-show {
    display: block;
    transition: all 1s ease
}
@media only screen and (min-width: 1024px) and (max-width: 1180px) {
    .contact-form#contact-form-mid {
        max-width: 98%;
        right: 0
    }
}
@media only screen and (max-width: 1023px) {
    .contact-form#contact-form-mid {
        display: none !important
    }
}
.contact-form#contact-form-mid.ico-hide {
    display: none !important
}
.contact-form#contact-form-mid .form-error-msg-box {
    font-size: 0.7em
}
.contact-form#contact-form-mid .form-mid-button {
    width: 80px;
    height: 80px;
    background: #1d1c1c;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer
}
.contact-form#contact-form-mid .form-mid-button span {
    display: block;
    width: 100%;
    line-height: 80px;
    text-align: center;
    color: #fff;
    font-size: 1.5em
}
.contact-form#contact-form-mid .row-form {
    padding: 0 0 0 30px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    right: 0;
    height: 80px;
    border-radius: 100px;
    display: none;
	width:100%;
}
.contact-form#contact-form-mid input[type=text] {
    border-color: #333;
    color: #1d1c1c
}


.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: .9375rem;
  padding-left: .9375rem;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.333333%;
}

.col-xs-2 {
  width: 16.666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.333333%;
}

.col-xs-5 {
  width: 41.666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.333333%;
}

.col-xs-8 {
  width: 66.666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.333333%;
}

.col-xs-11 {
  width: 91.666667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.333333%;
}

.col-xs-pull-2 {
  right: 16.666667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.333333%;
}

.col-xs-pull-5 {
  right: 41.666667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.333333%;
}

.col-xs-pull-8 {
  right: 66.666667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.333333%;
}

.col-xs-pull-11 {
  right: 91.666667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.333333%;
}

.col-xs-push-2 {
  left: 16.666667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.333333%;
}

.col-xs-push-5 {
  left: 41.666667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.333333%;
}

.col-xs-push-8 {
  left: 66.666667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.333333%;
}

.col-xs-push-11 {
  left: 91.666667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.333333%;
}

.col-xs-offset-2 {
  margin-left: 16.666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333333%;
}

.col-xs-offset-5 {
  margin-left: 41.666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333333%;
}

.col-xs-offset-8 {
  margin-left: 66.666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333333%;
}

.col-xs-offset-11 {
  margin-left: 91.666667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}


@media (min-width: 544px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.333333%;
  }
  .col-sm-2 {
    width: 16.666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.333333%;
  }
  .col-sm-5 {
    width: 41.666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.333333%;
  }
  .col-sm-8 {
    width: 66.666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.333333%;
  }
  .col-sm-11 {
    width: 91.666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-pull-1 {
    right: 8.333333%;
  }
  .col-sm-pull-2 {
    right: 16.666667%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.333333%;
  }
  .col-sm-pull-5 {
    right: 41.666667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.333333%;
  }
  .col-sm-pull-8 {
    right: 66.666667%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.333333%;
  }
  .col-sm-pull-11 {
    right: 91.666667%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-push-1 {
    left: 8.333333%;
  }
  .col-sm-push-2 {
    left: 16.666667%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-4 {
    left: 33.333333%;
  }
  .col-sm-push-5 {
    left: 41.666667%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-7 {
    left: 58.333333%;
  }
  .col-sm-push-8 {
    left: 66.666667%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-10 {
    left: 83.333333%;
  }
  .col-sm-push-11 {
    left: 91.666667%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-left: 8.333333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.666667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.666667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.333333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.666667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.333333%;
  }
  .col-md-pull-2 {
    right: 16.666667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.333333%;
  }
  .col-md-pull-5 {
    right: 41.666667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.333333%;
  }
  .col-md-pull-8 {
    right: 66.666667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.333333%;
  }
  .col-md-pull-11 {
    right: 91.666667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.333333%;
  }
  .col-md-push-2 {
    left: 16.666667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.333333%;
  }
  .col-md-push-5 {
    left: 41.666667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.333333%;
  }
  .col-md-push-8 {
    left: 66.666667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.333333%;
  }
  .col-md-push-11 {
    left: 91.666667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.666667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}


.contact-form#contact-form-mid .col-md-3 {
    margin: 0 4px;
    padding: 22px 0 0 0;
    width: 18.9%
}
.contact-form#contact-form-mid .col-md-3 .row {
    padding: 0 5px;
    position: relative
}
.contact-form#contact-form-mid .col-md-2.col-submit {
    max-width: 80px;
    margin: 0;
    padding: 0 0 0 0;
    float: right
}
.contact-form#contact-form-mid .col-md-2.areaList {
    margin: 0 4px;
    padding: 22px 0 0 0
}
.contact-form#contact-form-mid label {
    color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=55);
    -webkit-opacity: 0.55;
    -moz-opacity: 0.55;
    -khtml-opacity: 0.55;
    opacity: 0.55;
    font-size: 0.9em
}
.contact-form#contact-form-mid input[type=text] {
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1
}
.contact-form#contact-form-mid .input-focused label {
    color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1
}
.contact-form#contact-form-mid .row-submit-mid {
    background: #f34b0a;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: relative
}
.contact-form#contact-form-mid .row-submit-mid .icon-send {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 85px;
    font-size: 2em;
    text-align: center
}
.contact-form#contact-form-mid .row-submit-mid input {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}
#category-specify .col-md-3 {
    color: #55555d;
    text-align: center;
    padding-top: 40px;
    border: 1px #fff solid;
    min-height: 185px;
    transition: all 0.2s ease;
    position: relative
}
#category-specify .col-md-3 strong {
    transition: all 0.2s ease
}
#category-specify .col-md-3 .icon {
    min-height: 50px;
    transition: all 0.2s ease
}
#category-specify .col-md-3 .icon span {
    font-size: 2em
}
#category-specify .col-md-3 .icon span.icon-ruppee {
    font-size: 1.3em
}
@media only screen and (max-width: 500px) {
    #category-specify .col-md-3 .icon {
        min-height: 30px;
        max-height: 30px
    }
}
@media only screen and (min-width: 1181px) {
    #category-specify .col-md-3 {
        padding-top: 40px;
        min-height: 185px
    }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #category-specify .col-md-3 {
        width: 50%
    }
}
@media only screen and (max-width: 500px) {
    #category-specify .col-md-3 {
        width: 50%;
        min-height: 140px;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
	.formasd{ height:300px !important; margin-top:5px !important;}
	.fm1{ height:300px !important;}
	.formasd1{ height:300px !important; margin-top:5px !important; display:block;}
	
	.formmail{ height:300px !important; margin-top:5px !important; display:none ;}
	
	.contact-form .title.title-clck{ top:8px !important; text-align:center}
}
#category-specify .col-md-3:hover {
    border-color: #dcdcdc;
    background: #f7f5f7;
    z-index: 10
}
#category-specify .col-md-3:hover .icon {
    font-size: 1.5em;
    transition: all 0.2s ease
}

.launch .col-md-2{ padding-top:20px; text-align:center;}
.launch .category{ font-size:14px;}
.launch .specification{ font-size:14px;}



@media only screen and (max-width: 500px) {
    #category-specify .col-md-3:hover .icon {
        font-size: 1.1em
    }
	.hidden-xs {
  display: none !important;
}
}
#category-specify .col-md-3:hover .category {
    font-size: 1.3em
}
@media only screen and (max-width: 500px) {
    #category-specify .col-md-3:hover .category {
        font-size: 1.1em;
        min-height: 30px
    }
}
#category-specify .col-md-3:hover .specification {
    font-size: 1.4em
}
@media only screen and (max-width: 500px) {
    #category-specify .col-md-3:hover .specification {
        font-size: 1em
    }
}
#category-specify .category {
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 2px;
    margin: 0px 0 0 0;
    min-height: 35px;
    transition: all 0.1s ease
}
@media only screen and (max-width: 500px) {
    #category-specify .category {
        font-size: 1em;
        margin-top: 5px
    }
}
@media only screen and (max-width: 500px) {
    #category-specify .specification {
        font-size: 0.9em
    }
}
#category-specify .specification strong {
    font-weight: 600
}
#category-specify .icon-bed {
    font-size: 1.3em
}
#price-trends .row {
    background: url(../images/price-trends-bg.jpg) center 0 no-repeat;
    background-size: 100% 100%
}
@media screen and (min-width: 1024px) and (max-width: 1260px) {
    #price-trends .row .col-1 {
        width: 53%
    }
    #price-trends .row .col-2 {
        width: 45%;
        float: right;
        text-align: center
    }
}
#price-trends .row .col-1 {
    float: left;
    width: 50%;
    position: relative
}
#price-trends .row .col-1 .content {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    font-family:  "Open Sans", Arial, Times, Roboto;
    font-size: 1.1em;
    color: #fff;
    padding: 25% 3em 0 1em;
    transition: padding 1s
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #price-trends .row .col-1 .content {
        padding: 2em 2em 0 2em
    }
}
#price-trends .row .col-1 .content p {
    color: #fff;
    line-height: 24px
}
@media only screen and (max-width: 1023px) {
    #price-trends .row .col-1 .content {
        position: relative
    }
}
#price-trends .row .col-2 {
    width: 50%;
	margin:auto;
	padding:20px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #price-trends .row .col-1 {
        width: 53%
    }
    #price-trends .row .col-2 {
        width: 45%;
        float: right;
        text-align: center
    }
}
@media only screen and (max-width: 767px) {
    #price-trends .row .col-1,
    #price-trends .row .col-2 {
        width: 100%
    }
    #price-trends .row .col-1 img,
    #price-trends .row .col-2 img {
        margin-left: auto;
        margin-right: auto
    }
}
@media only screen and (max-width: 500px) {
    #price-trends .row .col-1 .content {
        font-size: 1em;
        padding: 1em
    }
}
#gmap iframe {
    border: 0 none
}
@media only screen and (max-width: 500px) {
    #gmap {
        display: none
    }
}

#bank-approval ul{text-align:center;}

#bank-approval ul li {
	display:inline-block;
    width: 20%;
    text-align: center;
    transition: width 1s;
	 border: 2px solid #f2f2f2;
    margin: 0 5px 15px;
	
}
#bank-approval ul li img {
    transition: display 1s, margin 1s, max-width 1s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}
#bank-approval ul li img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #bank-approval ul li {
        width: 33%
    }
    #bank-approval ul li img {
        display: inline-block;
        margin: auto
    }
}
@media only screen and (max-width: 500px) {
    #bank-approval ul li {
        width: 33%;
        min-height: 51px
    }
    #bank-approval ul li img {
        max-width: 90%
    }
}
.about-content .col-left {
    float: left;
    transition: padding 1s
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .about-content .col-left {
        padding-right: 20px
    }
}
@media only screen and (max-width: 767px) {
    .about-content .col-left {
        padding-right: 20px
    }
}
@media only screen and (max-width: 500px) {
    .about-content .col-left {
        padding-right: 0;
        text-align: center;
        width: 100%
    }
}
.about-content .col-right {
    overflow: hidden;
    padding-left: 60px;
    border-bottom: 1px #ededec solid;
    position: relative
}
.about-content .col-right.noBorder {
    border: 0 none
}
.about-content .col-right p {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=80);
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8
}
.about-content .col-right .p-ajnara-homes {
    margin:0;
}
@media only screen and (max-width: 500px) {
    .about-content .col-right .p-ajnara-homes {
        margin: 30px 0 60px 0
    }
}
.about-content .col-right .p-home-builders {
    margin: 50px 0 0 0
}
.about-content .col-right .ad-download {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=80);
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
   
   margin-bottom:0;
}
.about-content .col-right .ad-download .icon-download {
    font-size: 0.9em
}
@media only screen and (max-width: 500px) {
    .about-content .col-right .ad-download {
        float: none;
        max-width: 270px;
        clear: both;
        margin: 10px auto;
        display: table;
        bottom: 5px;
        width: 100%;
        max-width: 100%;
        text-align: left
    }
}
.about-content .col-right .ad-download .btn-download {
    font-family:  "Open Sans", Arial, Times, Roboto;
    font-size: 0.9em
}
@media only screen and (max-width: 767px) {
    .about-content .col-right {
        overflow: inherit;
        padding-left: 0
    }
}
#amentities-carousel {
    background: url(../images/bg-amenities.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
    height: auto;
    min-height: 575px;
    transition: width 1s
}
#amentities-carousel .jcarousel {
    max-width:996px;
    margin: 0 auto 0 auto;
    clear: both
}
@media only screen and (max-width: 1023px) {
    #amentities-carousel .jcarousel {
        max-width: 80%
    }
}
#amentities-carousel .jcarousel li {
    padding: 0 4px
}
#amentities-carousel .col-md-12 {
    max-width: 100%;
    background-color: #363535;
    margin: 4px 0;
    color: #fff;
    padding: 0
}
#amentities-carousel .col-md-12 a {
    display: block;
    color: #fff;
    text-decoration: none;
    height: 200px; padding:20px 0 0;
}
#amentities-carousel .col-md-12 a:hover {
    background-color: #fff;
    color: #363535;
    cursor: default
}


#amentities-carousel .col-md-12 a  svg {fill: #fff !important; text-align:center; height:80px; width:80px}
#amentities-carousel .col-md-12 a:hover path {fill: #000 !important;}
#amentities-carousel .col-md-12 a:hover rect {fill: #000 !important;}


#amentities-carousel .col-md-12 .icon {
        display: block;
    text-align: center;
    font-size: 4em;
   
    padding-top: 0px;
   
}
#amentities-carousel .col-md-12 .icon.icon-exercise {
    font-size: 2.2em
}
#amentities-carousel .col-md-12 .icon.icon-amenities-power-backup {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-right: -20px
}
#amentities-carousel .col-md-12 .icon.icon-amenities-lounge,
#amentities-carousel .col-md-12 .icon.icon-amenities-wifi {
    font-size: 3.5em
}
#amentities-carousel .col-md-12 .icon.icon-amenities-vastu {
    font-size: 5em
}
#amentities-carousel .col-md-12 .content {
    display: block;
    text-align: center;
    font-size: 0.9em;
    letter-spacing:0;
    text-transform: uppercase
}
#amentities-carousel .jcarousel-pagination a {
    border: 1px #1f1d1d solid;
    background: none;
    box-shadow: none
}
#amentities-carousel .jcarousel-pagination a.active {
    background-color: #1f1d1d
}
#amentities-carousel .title {
    color: #fff;
    position: relative;
    font-size: 0.9em;
    margin: 60px auto 0;
    max-width: 912px;
    padding: 0 5px
}
@media screen and (max-width: 1023px) {
    #amentities-carousel .title {
        max-width: 80%
    }
}
#amentities-carousel .title span {
    float: left;
    padding-bottom: 2px
}
#amentities-carousel .title .jcarousel-pagination {
    position: relative;
    bottom: inherit;
    float: left;
    text-align: left;
    clear: none;
    line-height: normal;
    padding-left: 15px
}
@media only screen and (max-width: 500px) {
    #amentities-carousel .title .jcarousel-pagination {
        float: none;
        display: block;
        clear: both;
        padding-left: 0
    }
}
#amentities-carousel .title .jcarousel-pagination a {
    border-color: #fff;
    display: none
}
#amentities-carousel .title .jcarousel-pagination a.active {
    background: #fff
}
@media screen and (min-width: 1024px) {
    #amentities-carousel .title .jcarousel-pagination a.page-1,
    #amentities-carousel .title .jcarousel-pagination a.page-5,
    #amentities-carousel .title .jcarousel-pagination a.page-9,
    #amentities-carousel .title .jcarousel-pagination a.page-13,
    #amentities-carousel .title .jcarousel-pagination a:last-child {
        display: inline-block
    }
}
@media screen and (max-width: 1023px) {
    #amentities-carousel .title .jcarousel-pagination a.page-1,
    #amentities-carousel .title .jcarousel-pagination a.page-4,
    #amentities-carousel .title .jcarousel-pagination a.page-7,
    #amentities-carousel .title .jcarousel-pagination a.page-10,
    #amentities-carousel .title .jcarousel-pagination a.page-13,
    #amentities-carousel .title .jcarousel-pagination a.page-16,
    #amentities-carousel .title .jcarousel-pagination a:last-child {
        display: inline-block
    }
}
@media screen and (max-width: 779px) {
    #amentities-carousel .title .jcarousel-pagination a.page-1,
    #amentities-carousel .title .jcarousel-pagination a.page-3,
    #amentities-carousel .title .jcarousel-pagination a.page-5,
    #amentities-carousel .title .jcarousel-pagination a.page-7,
    #amentities-carousel .title .jcarousel-pagination a.page-9,
    #amentities-carousel .title .jcarousel-pagination a.page-11,
    #amentities-carousel .title .jcarousel-pagination a.page-13,
    #amentities-carousel .title .jcarousel-pagination a.page-15,
    #amentities-carousel .title .jcarousel-pagination a:last-child {
        display: inline-block
    }
}
span.star {
    display: inline-block;
    background: url(../images/icons.png) -32px -187px no-repeat;
    width: 12px;
    height: 11px
}
span.star.star-gold {
    background-position: 0 -187px
}
span.star.star-gold-half {
    background-position: -15px -187px
}
#locality-insight>.row {
    background: #2b3033;
    padding-top: 0;
    padding-bottom: 0
}
@media screen and (max-width: 1100px) {
    #locality-insight>.row {
        background-image: none
    }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #locality-insight>.row {
        padding: 0
    }
}
@media only screen and (max-width: 500px) {
    #locality-insight>.row {
        padding: 0
    }
}
#locality-insight h3 {
    color: #fff
}
#locality-insight .col-img {
    float: right;
    transition: width 1s, max-width 1s;
    width: 60%;
    background: url(../images/location.jpg) right center no-repeat;
    background-size: 100% auto
}
#locality-insight .col-img img {
    visibility: hidden;
    max-height: 500px
}
@media only screen and (max-width: 1023px) {
    #locality-insight .col-img img {
        max-height: inherit
    }
}
@media screen and (max-width: 1100px) {
    #locality-insight .col-img img {
        visibility: visible
    }
}
@media only screen and (max-width: 1023px) {
    #locality-insight .col-img {
        width: 100%
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    #locality-insight .col-img {
        max-width: 670px
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    #locality-insight .col-img {
        max-width: 100%
    }
}
#locality-insight .content {
    float: right;
    color: #fff;
    padding: 50px 50px 0 0;
    line-height: 30px;
    font-family:  "Open Sans", Arial, Times, Roboto;
    font-weight: 300;
    transition: padding 1s;
    width: 40%
}
#locality-insight .content>div {
    float: right
}
@media only screen and (max-width: 1023px) {
    #locality-insight .content {
        width: 100%;
        float: left;
        padding-top: 20px
    }
    #locality-insight .content>div {
        float: none;
        padding-bottom: 15px
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    #locality-insight .content {
        padding-left: 1em;
        padding-right: 50px;
        padding-top: 45px
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #locality-insight .content {
        padding-left: 1em
    }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #locality-insight .content {
        padding: 1em 3em
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    #locality-insight .content {
        padding: 1em 3em
    }
}
@media only screen and (max-width: 500px) {
    #locality-insight .content {
        padding: 1em 1em
    }
}
#locality-insight .content .rate-from-users {
    line-height: normal;
    display: table;
    width: 100%;
    padding: 20px 0
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #locality-insight .content .rate-from-users {
        padding: 10px 0
    }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #locality-insight .content .rate-from-users {
        padding: 10px 0 0 0
    }
}
@media only screen and (max-width: 500px) {
    #locality-insight .content .rate-from-users {
        padding: 5px 0 0 0
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    #locality-insight .content .rate-from-users {
        padding: 10px 0
    }
}
#locality-insight .content .rate-from-users .rate {
    float: left;
    padding: 0 8px;
    border: 1px #fdffda solid;
    height: 60px;
    line-height: 59px;
    font-size: 30px;
    margin: 0 12px 0 0
}
#locality-insight .content .rate-from-users .ratings {
    padding-top: 10px
}
#locality-insight .content .rate-from-users .users-count {
    font-size: .9em
}
#locality-insight .content .rate-from-users .users-count strong {
    font-weight: 600
}
#locality-insight .content .title-top-rated {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #locality-insight .content .title-top-rated {
        margin-top: 5px
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1180px) {
    #locality-insight .content .title-top-rated {
        margin-top: 0
    }
}
#locality-insight .content .top-rated-categories .rows {
    display: table;
    width: 100%;
    padding: 8px 0
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    #locality-insight .content .top-rated-categories .rows {
        padding: 3px 0
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #locality-insight .content .top-rated-categories .rows {
        padding: 0 0
    }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #locality-insight .content .top-rated-categories .rows {
        padding: 1px 0
    }
}
@media only screen and (max-width: 500px) {
    #locality-insight .content .top-rated-categories .rows {
        padding: 1px 0
    }
}
#locality-insight .content .top-rated-categories .rows .label {
    float: left;
    min-width: 200px;
    text-transform: uppercase;
    font-size: 1.1em
}
@media only screen and (max-width: 500px) {
    #locality-insight .content .top-rated-categories .rows .label {
        font-size: 1em
    }
}
#locality-insight .content .top-rated-categories .rows .ratings {
    float: left
}
#locality-insight .content .locality-recommended {
    color: #b9b0b0;
    font-size: 0.9em
}
#locality-insight .content .locality-recommended a,
#locality-insight .content .locality-recommended span {
    color: #fff;
    text-decoration: none
}
#calculator .row h3 {
    background-color: #232525;
    color: #fff;
    text-align: center;
    padding: 20px 0
}
#calculator .content {
    background-color: #f7f7f7;
    color: #2c2d31
}
#calculator .content h3 {
    padding-left: 10px;
    padding-right: 10px;
    background: none
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #calculator .content h3 {
        padding: 20px 50px
    }
}
#calculator .content .emiCal {
    max-width: 1170px;
    margin: 0 auto;
    font-family:  "Open Sans", Arial, Times, Roboto
}
@media only screen and (min-width: 1024px) and (max-width: 1180px) {
    #calculator .content .emiCal {
        padding-left: 20px;
        padding-right: 15px
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #calculator .content .emiCal {
        padding-left: 15px;
        padding-right: 15px
    }
}
#calculator .content .emiCal .emiCalContent {
    display: table;
    width: 100%;
    padding-bottom: 30px
}
@media only screen and (max-width: 500px) {
    #calculator .content .emiCal .emiCalContent {
        padding-bottom: 0
    }
}
#calculator .content .emiCal .emiCalculator {
    float: left;
    width: 50%;
    padding-right: 50px
}
@media only screen and (max-width: 1023px) {
    #calculator .content .emiCal .emiCalculator {
        width: 100%;
        padding: 0 15px
    }
}
@media only screen and (max-width: 500px) {
    #calculator .content .emiCal .emiCalculator {
        padding-left: 10px;
        padding-right: 10px
    }
}
#calculator .content .emiCal input[type=text] {
    border: 1px #cdcbcb solid;
    background: none;
    font-family:  "Open Sans", Arial, Times, Roboto;
    color: #103365;
    padding: 0 10px;
    height: 35px;
    font-size: 14px;
    width: 110px;
    text-align: right;
    float: right;
    margin-left: 5px
}
#calculator .content .emiCal .emiSearchRow {
    display: table;
    width: 100%;
    line-height: 35px
}
#calculator .content .emiCal .emiCalResult {
    float: right;
    width: 50%;
    padding: 5px 20px 20px 50px;
    background-color: #fff;
    margin: 15px 0 0 0; border:1px solid #edebeb;
}
#calculator .content .emiCal .emiCalResult .icon-ruppee {
    font-size: 0.9em;
    padding-top: 3px
}
@media only screen and (max-width: 1023px) {
    #calculator .content .emiCal .emiCalResult {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #calculator .content .emiCal .emiCalResult {
        padding: 0 20px 20px 20px
    }
}
@media only screen and (max-width: 500px) {
    #calculator .content .emiCal .emiCalResult {
        padding-left: 10px;
        padding-right: 10px
    }
    #calculator .content .emiCal .emiCalResult .icon-ruppee {
        font-size: 0.8em;
        padding-top: 3px;
        padding-left: 2px
    }
}
#calculator .content .emiCal .emiCalResult p {
    color: #103365; font-size:14px;
    display: table;
    width: 100%;
    line-height: normal;
    margin: 20px 0 0 0
}
#calculator .content .emiCal .emiCalResult p label {
    float: left; color:#5b5b5b; font-weight:500; font-size:14px; /*text-transform:uppercase*/;
    width: 40%
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #calculator .content .emiCal .emiCalResult p label {
        width: 30%
    }
}
@media only screen and (max-width: 500px) {
    #calculator .content .emiCal .emiCalResult p label {
        width: 50%
    }
}
#calculator .content .emiCal .emiCalResult p span {
    float: left;
     font-weight:bold;
}

#calculator .content .emiCal .emiCalResult p span {
    float: left;
     font-weight:bold;
}

span#monthly_emiText, span#totalInterestPayableText, span#totalPaymentText{ font-weight:normal !important;
    color: #252525;
}

#calculator .content .emiCal .emiCalResult p.amount-words {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    -moz-opacity:  0.5;
    -khtml-opacity:  0.5;
    opacity:  0.5;
    text-transform: capitalize;
    margin: 0;
    padding: 0 0 0 40%
}
#calculator .content .emiCal .emiCalResult p.amount-words:last-child {
    margin-top: -15px
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #calculator .content .emiCal .emiCalResult p.amount-words {
        padding-left: 30%
    }
}
@media only screen and (max-width: 500px) {
    #calculator .content .emiCal .emiCalResult p.amount-words {
        padding-left: 50%
    }
}
#calculator .content .emiCal .emiCalResult p.amount-words input[type=text] {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    border: 0 none
}
#calculator .content .emiCal .emiSearchRow {
    font-size: 1.1em;
    padding-top: 30px
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #calculator .content .emiCal .emiSearchRow {
        font-size: 1em
    }
}
@media only screen and (max-width: 500px) {
    #calculator .content .emiCal .emiSearchRow {
        font-size: 1em
    }
}
#calculator .content .emiCal .emiSearchRow label {
    float: left; font-size:14px; font-weight:500;
    width: 50%
}
#calculator .content .emiCal .emiSearchRow .formField {
    float: right;
    width: 50%;
    text-align: right; font-size:14px; font-weight:600;
}
#calculator .content .emiCal .paddBot25 {
    clear: both;
    position: relative;
    margin: 12px 0
}
#calculator .content .emiCal .slider-horizontalBgInner {
    background: #d4d9db;
    height: 2px
}
#calculator .content .emiCal .ui-slider-range {
    background: #103365;
    height: 2px;
    width: 0;
    margin-top: -2px
}
#calculator .content .emiCal .ui-slider-handle {
    background: #103365;
    height: 12px;
    width: 16px;
    display: block;
   /* border-radius: 0%;*/
    position: absolute;
    top: -5px
}
#calculator .content .emiCal #amount-words {
    font-family:  "Open Sans", Arial, Times, Roboto;
    color: #2c2d31;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    text-align: right;
    font-size: 0.7em;
    clear: both;
    line-height: 25px
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #unit-details {
        padding-left: 40px;
        padding-right: 40px
    }
}
@media only screen and (max-width: 767px) {
    #unit-details {
        padding-left: 40px;
        padding-right: 40px
    }
}
@media only screen and (max-width: 767px) {
    #unit-details .unit-details-jcarousel {
        max-width: 400px
    }
}
#unit-details .arrow-icon {
    position: absolute;
    left: -17px;
    top: 50%
}
@media only screen and (min-width: 1024px) and (max-width: 1180px) {
    #unit-details .arrow-icon {
        left: 0
    }
}
#unit-details .arrow-icon.ud-jcarousel-control-next {
    left: inherit !important;
    right: -17px
}
@media only screen and (min-width: 1024px) and (max-width: 1180px) {
    #unit-details .arrow-icon.ud-jcarousel-control-next {
        right: 0
    }
}
@media only screen and (max-width: 1023px) {
    #unit-details .arrow-icon {
        left: 0 !important;
        right: 0 !important
    }
}
#unit-details>.row {
    margin: 0 auto
}
#unit-details>.row .col-md-4 {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%
}
#unit-details>.row .col-md-4>.row {
    border: 1px #aeaeaf solid;
    margin: 0;
    padding: 0
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    #unit-details>.row .col-md-4 {
        width: 360px;
        padding-left: 0;
        padding-right: 0;
        margin: 5px 0
    }
}
@media only screen and (max-width: 500px) {
    #unit-details>.row .col-md-4 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin: 5px 0;
        margin: 0 auto 20px auto;
        float: none
    }
}
#unit-details .list .ud-imgs {
    float: left;
    width: 100%;
    position: relative
}
#unit-details .list .ud-imgs ul.tabs {
    position: absolute;
    max-width: 220px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 20
}
#unit-details .list .ud-imgs ul.tabs.tabs-single {
    max-width: 100px
}
#unit-details .list .ud-imgs ul.tabs li {
    /* float: left; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 65px;
    right: 0;
    margin: auto;
}
#unit-details .list .ud-imgs ul.tabs li a {
    display: block;
    background: #fff;
    color: #211f1f;
    text-decoration: none;
    line-height: 31px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    position: relative;
    font-weight: 600;
    border: 1px #333 solid;
    border-top: 0 none
}
#unit-details .list .ud-imgs ul.tabs li a.active {
    background: #211f1f;
    border-color: #211f1f;
    color: #fff
}
#unit-details .list .ud-imgs ul.tabs li a.active-false.active {
    background: #fff;
    color: #211f1f
}
#unit-details .list .ud-imgs .tabs-data li {
    text-align: center;
    display: none
}
#unit-details .list .ud-imgs .tabs-data li.active {
    display: block
}
#unit-details .list .ud-imgs .tabs-data li img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 225px !important;
    height: auto
}
#unit-details .list .ud-imgs .tabs-data li a {
    display: block;
    transition: all 0.5s ease
}
#unit-details .list .ud-imgs .tabs-data li a .hover-trans-black {
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: 0;
    height: 0;
    margin: auto;
    transition: all 0.5s ease
}
#unit-details .list .ud-imgs .tabs-data li a .icon-add {
    display: block;
    position: absolute;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11;
    color: #fff;
    border: 2px #fff solid;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 36px;
    margin: auto;
    transition: all 0.5s ease
}
#unit-details .list .ud-imgs .tabs-data li a:hover .hover-trans-black {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease
}
#unit-details .list .ud-imgs .tabs-data li a:hover span {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=75);
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
    transition: all 0.5s ease
}
#unit-details .list .content {
    clear: both;
    color: #333;
    padding-top: 10px;
    background-color: #eee
}
#unit-details .list .content .title {
    padding: 0 10px 30px 10px
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #unit-details .list .content .title {
        padding-bottom: 0
    }
}
#unit-details .list .content .title h4 {
    font-weight: 600;
    font-size: 1.1em
}
#unit-details .list .content .title h5 {
    font-weight: 700;
    font-size: 1.4em
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #unit-details .list .content .title h5 {
        min-height: 70px
    }
}
#unit-details .list .content .title h5 .icon-ruppee {
    font-size: 0.9em
}
#unit-details .list .content .title h5>.icon-ruppee {
    font-size: 0.75em
}
#unit-details .list .content .title h5 strong {
    font-size: 0.65em;
    font-weight: 700
}
#unit-details .list .content .title h5 strong .icon-ruppee {
    font-size: 0.8em
}
#unit-details .list .content>.row {
    margin-left: 0;
    margin-right: 0
}
#unit-details .list .content .row-content {
    font-size: 0.9em;
    color: #666;
    padding: 10px 30px
}
@media only screen and (min-width: 1024px) and (max-width: 1180px) {
    #unit-details .list .content .row-content {
        padding: 10px
    }
}
@media only screen and (max-width: 1023px) {
    #unit-details .list .content .row-content {
        padding: 10px
    }
}
@media only screen and (max-width: 500px) {
    #unit-details .list .content .row-content {
        padding: 0
    }
}
#unit-details .list .content .row-content .icon {
    display: inline-block;
    width: 35px
}
#unit-details .list .content .row-content .col-md-4 {
    font-weight: 600;
    color: #333;
    text-transform: lowercase;
    width: 33.3333%
}
@media only screen and (max-width: 500px) {
    #unit-details .list .content .row-content .col-md-4 {
        width: 35%;
        float: right
    }
}
@media only screen and (max-width: 500px) {
    #unit-details .list .content .row-content .col-md-8 {
        width: 65%;
        padding-left: 5px;
        padding-right: 5px
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #unit-details .list .content .row-content div {
        padding-left: 0;
        padding-right: 5px
    }
}
#unit-details .list .content .icon-bed {
    font-size: 1.2em
}
#unit-details .list .content .ud-contact {
    text-align: center;
    padding: 10px 15px 15px 15px
}
#unit-details .list .content .ud-contact a {
    display: inline-block;
    color: #fff;
    padding: 7px 35px;
    text-decoration: none;
    background: #f34b0a;
    font-size: 1em
}
#unit-details .list .content .ud-contact a:hover {
    background: #da4207
}
@media only screen and (max-width: 500px) {
    #unit-details .list .content .ud-contact {
        padding-left: 7px;
        padding-right: 7px
    }
}
@media only screen and (max-width: 500px) {
    #gallery-main {
        padding-left: 0;
        padding-right: 0
    }
}
#gallery-main .jcarousel li {
    width: 270px;
    padding: 0 1px
}
#gallery-main .jcarousel li a {
    display: block;
    position: relative
}
#gallery-main .jcarousel li a .hover-trans-black {
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: 0px;
    height: 0px;
    transition: all 0.5s ease;
    margin: auto
}
#gallery-main .jcarousel li a .icon-add {
    display: block;
    position: absolute;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11;
    color: #fff;
    border: 2px #fff solid;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 36px;
    padding-top: 2px;
    margin: auto;
    transition: all 0.5s ease;
    font-size: 1.5em
}
#gallery-main .jcarousel li a:hover .hover-trans-black {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease
}
#gallery-main .jcarousel li a:hover span {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
    filter: alpha(opacity=65);
    -webkit-opacity: 0.65;
    -moz-opacity: 0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    transition: all 0.5s ease
}
#gallery-main .jcarousel-control-prev {
    margin-top: 0;
    z-index: 10;
    left: 1px
}
#gallery-main .jcarousel-control-next {
    margin-top: 0;
    z-index: 10;
    right: 0
}
.fb-gallery-popup .rg-view {
    display: none
}
.fb-gallery-popup .rg-image-nav a {
    top: 50%
}
.fb-gallery-popup .arrow-icon {
    width: 30px;
    height: 30px;
    line-height: 29px
}
.fb-gallery-popup .rg-image-nav a.rg-image-nav-next {
    right: -10px
}
.fb-gallery-popup .rg-image-nav a.rg-image-nav-prev {
    left: -10px
}
.fb-gallery-popup .fancybox-close {
    width: 30px;
    height: 30px;
    background-position: -7px -217px
}
.fancybox-skin {
    background: #fff !important
}
@media only screen and (max-width: 500px) {
    .fancybox-item.fancybox-close {
        width: 30px;
        height: 30px;
        background-position: -7px -217px;
        background: url(../images/icons.png) -7px -217px no-repeat
    }
}
#specification>.row {
    border-top: 1px #e9e9e9 solid;
    border-bottom: 1px #e9e9e9 solid;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px
}
#specification .specify-seperator {
    background: #e9e9e9;
    width: 1px;
    left: 0;
    right: 0;
    top: 25px;
    bottom: 25px;
    margin: 0 auto;
    position: absolute;
    z-index: -1
}
@media only screen and (max-width: 767px) {
    #specification .specify-seperator {
        display: none
    }
}
#specification .arrow-icon {
    position: absolute;
    top: 38%;
    left: 0
}
#specification .arrow-icon.specify-jcarousel-next {
    left: inherit;
    right: 0
}
#specification .specify-jcarousel {
    max-width: 1170px;
    margin: 0 auto
}
#specification .specify-jcarousel>ul>li {
    padding-left: 1px;
    padding-right: 1px
}
#specification .specify-jcarousel>ul>li:first-child {
    border: 0 none
}
#specification .specify-jcarousel-content {
    padding: 0 20px;
    background: #fff
}
@media only screen and (max-width: 767px) {
    #specification .specify-jcarousel-content {
        padding: 0 50px
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #specification .specify-jcarousel-content {
        padding: 0 50px
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1180px) {
    #specification .specify-jcarousel-content {
        padding: 0 50px
    }
}
#specification .specify-jcarousel-content h3 {
    color: #333;
    font-weight: 500
}
#specification .specify-jcarousel-content ul {
    list-style: disc;
    padding: 0 0 0 15px;
    margin: 0 0 0 0
}
#specification .specify-jcarousel-content ul li {
    color: #666;
    list-style: disc;
    margin: 10px 0 10px 5px;
    padding: 0 0 0 0
}
#specification .specify-jcarousel-content ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0
}
.fancybox-outer-ud {
    position: relative
}
.fancybox-outer-ud img {
    width: auto;
    height: auto;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}
#contact-form-bottom {
    margin-top: 0
}
@media only screen and (max-width: 1023px) {
    #contact-form-bottom .row-form {
        padding-top: 0
    }
}
@media only screen and (max-width: 1023px) {
    #contact-form-bottom .col-md-2,
    #contact-form-bottom .col-md-3 {
        padding-top: 10px;
        padding-bottom: 10px
    }
}
@media only screen and (max-width: 1023px) {
    #contact-form-bottom .col-md-2.areaList {
        width: 30%
    }
}
@media only screen and (max-width: 500px) {
    #contact-form-bottom .col-md-2.areaList {
        width: 40%
    }
}
@media only screen and (max-width: 1023px) {
    #contact-form-bottom .col-md-2.areaList+.col-md-3 {
        width: 70%
    }
}
@media only screen and (max-width: 500px) {
    #contact-form-bottom .col-md-2.areaList+.col-md-3 {
        width: 60%
    }
}
#properties {
    background: #fff;
   width: 750px;
    display: none;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 250px;
    margin-top: 0
}
#contact-lb {
    background: #fff;
    max-width: 350px;
    display: none;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 320px;
    margin-top: 0
}
@media only screen and (max-width: 500px) {
    #contact-lb {
        padding-left: 0;
        padding-right: 0
    }
    #contact-lb .col-md-2.areaList {
        width: 45%
    }
    #contact-lb .col-md-2.areaList+.col-mobile-lb {
        width: 55%
    }
}
#contact-lb .col-md-3,
#contact-lb .col-md-2 {
    width: 100%;
    padding-top: 20px
}
#contact-lb .areaList {
    width: 35%
}
#contact-lb .col-mobile-lb {
    width: 65%
}
#contact-lb label {
    color: #272828
}
#contact-lb span {
    display: inline
}
#contact-lb input[type=text] {
    border-color: #272828;
    color: #272828
}
.fancybox-overlay .fancybox-next,
.fancybox-overlay .fancybox-prev {
    width: 30px;
    height: 30px
}
.fancybox-overlay .fancybox-next span,
.fancybox-overlay .fancybox-prev span {
    width: 30px;
    height: 30px;
    line-height: 31px
}
.fancybox-overlay .fancybox-next span {
    padding-left: 3px
}
.fancybox-overlay .fancybox-prev span {
    padding-right: 3px
}
#top {
    width: 0;
    height: 0
}
@media only screen and (max-width: 500px) {
    #rg-gallery .title-gallery {
        left: 0;
        right: 0;
        font-size: 0.8em;
        width: 100%
    }
}
@media only screen and (max-width: 500px) {
    .fancybox-inner #gallery-main-2 {
        padding: 0
    }
}
@media only screen and (max-width: 500px) {
    .fancybox-inner #gallery-main-2 .es-carousel ul li:first-child {
        padding-left: 0
    }
}
.rg-view {
    display: none !important
}
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top
}
.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020
}
.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none
}
.fancybox-opened {
    z-index: 8030
}
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
}
.fancybox-outer,
.fancybox-inner {
    position: relative
}
.fancybox-inner {
    overflow: hidden
}
.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}
.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap
}
.fancybox-image,
.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%
}
.fancybox-image {
    max-width: 100%;
    max-height: 100%
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background-image: url("../images/fancybox/fancybox_sprite.png")
}
#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060
}
#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat
}
.fancybox-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 9040;
    background: url(../images/icons.png) 0 -210px no-repeat;
    width: 44px;
    height: 44px
}
.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url("../images/fancybox/blank.gif");
    -webkit-tap-highlight-color: transparent;
    z-index: 8040
}
.fancybox-prev {
    left: -15px
}
.fancybox-next {
    right: -15px
}
.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden
}
.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px
}
.fancybox-next span {
    right: 10px;
    background-position: 0 -72px
}
.fancybox-nav:hover span {
    visibility: visible
}
.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important
}
.fancybox-lock {
    overflow: hidden !important;
    width: auto
}
.fancybox-lock body {
    overflow: hidden !important
}
.fancybox-lock-test {
    overflow-y: hidden !important
}
.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: rgba(0, 0, 0, 0.9)
}
.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}
.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll
}
.fancybox-title {
    visibility: hidden;
    position: relative;
    text-shadow: none;
    z-index: 8050
}
.fancybox-opened .fancybox-title {
    visibility: visible
}
.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}
.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap
}
.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff
}
.fancybox-title-inside-wrap {
    padding-top: 0;
    text-align: center;
    padding-bottom: 8px
}
.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, 0.8)
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading,
    .fancybox-close,
    .fancybox-prev span,
    .fancybox-next span {
        background-image: url("../images/fancybox/fancybox_sprite@2x.png");
        background-size: 44px 152px
    }
    #fancybox-loading div {
        background-image: url("../images/fancybox/fancybox_loading@2x.gif");
        background-size: 24px 24px
    }
}
.fancybox-next,
.fancybox-prev {
    width: 40px;
    height: 40px;
    background-color: #353737;
    color: #fff;
    line-height: 39px;
    text-align: center;
    border-radius: 0;
    display: block;
    font-size: 1em;
    text-decoration: none;
    top: 50%;
    margin-top: -30px
}
.fancybox-next span,
.fancybox-prev span {
    visibility: visible;
    left: 0;
    top: 0;
    right: 0;
    background: none;
    margin: 0;
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-align: center
}
.fancybox-next:hover,
.fancybox-prev:hover {
    color: #fff
}
.rg-image-wrapper {
    position: relative;
    padding: 10px;
    min-height: 20px
}
.rg-image {
    position: relative;
    text-align: center;
    line-height: 0px;
    max-width: 830px;
    max-height: 420px;
    margin: 25px auto 0 auto
}
.rg-image img {
    max-height: 420px;
    max-width: 830px;
    display: block;
    margin: 0 auto
}
@media only screen and (max-width: 767px) {
    .rg-image img {
        max-height: 100%;
        max-width: 100%
    }
}
.rg-image-nav a {
    position: absolute;
    top: 45%;
    left: 0px;
    z-index: 99
}
.rg-image-nav a.rg-image-nav-next {
    right: 0px;
    left: auto
}
.rg-image-nav a:hover {
    opacity: 0.8
}
.rg-caption {
    text-align: center;
    margin-top: 15px;
    position: relative
}
.rg-caption p {
    font-size: 11px;
    letter-spacing: 2px;
    font-family: "Open Sans", Arial, Times;
    line-height: 16px;
    padding: 0 15px;
    text-transform: uppercase
}
.rg-view {
    height: 30px
}
.rg-view a {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background: #464646 url(../images-gallery//views.png) no-repeat top left;
    border: 3px solid #464646;
    opacity: 0.8
}
.rg-view a:hover {
    opacity: 1.0
}
.rg-view a.rg-view-full {
    background-position: 0px 0px
}
.rg-view a.rg-view-selected {
    background-color: #6f6f6f;
    border-color: #6f6f6f
}
.rg-view a.rg-view-thumbs {
    background-position: 0px -16px
}
.rg-loading {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000 url(../images-gallery//ajax-loader.gif) no-repeat center center;
    margin: -23px 0px 0px -23px;
    z-index: 100;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.7
}
.es-carousel-wrapper {
    padding: 0;
    position: relative
}
.es-carousel {
    overflow: hidden
}
.es-carousel ul {
    display: none
}
.es-carousel ul li {
    height: 75px;
    width: 100px;
    float: left;
    display: block;
    padding-left: 2px;
    padding-right: 2px
}
.es-carousel ul li a {
    display: block;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}
.es-carousel ul li.selected a {
    border-color: #fff;
    opacity: 1.0
}
.es-carousel ul li a img {
    display: block;
    border: none;
    max-height: 100%;
    max-width: 100%
}
.es-nav span.es-nav-next {
    right: 8px;
    left: auto
}
.es-nav span:hover {
    opacity: 1.0
}
.es-carousel ul {
    display: block
}
#gallery-main-2 {
    border: 10px #5c5c5c solid;
    padding: 10px;
    max-width: 1020px;
    display: none
}
.es-carousel-wrapper .es-nav {
    display: none
}
.es-carousel-wrapper .es-carousel+.es-nav {
    display: block;
    position: absolute;
    top: 25%;
    width: 100%
}
.es-carousel-wrapper .es-carousel+.es-nav .es-nav-next {
    right: 0;
    left: inherit;
    position: absolute;
    cursor: pointer
}
.es-carousel-wrapper .es-carousel+.es-nav .es-nav-prev {
    left: 0;
    position: absolute;
    cursor: pointer
}
.title-gallery {
    position: absolute;
    z-index: 100;
    background: #fff;
    top: 0;
    left: 60px;
    right: 60px;
    text-align: center;
    padding: 10px
}
.fb-gallery-popup .fancybox-skin {
    padding: 0 !important
}
.fb-gallery-popup .fancybox-close {
    right: 10px;
    top: 10px
}
.fb-gallery-popup-fullview .fancybox-skin {
    padding: 0 !important
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}
.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}
@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft
}
@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
@keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight
}

/* css edit start*/
.textBox{display:none;}
.textBox1{display:none;}
.readBtn1{margin:0 0 15px; display:block;}
#overview p{text-align:justify;}
.row.launch{position:relative;}
.spJcarousel li{float:left; display:block;}
.row.launch li{text-align:center;}
.tabCon{display:none;}
#tabMap{border-bottom:1px solid #CCC; margin:0 0 25px;}

#tabMap li{display:inline-block; padding:0 0 0 15px; margin-bottom: -1px;}
#tabMap li a{text-decoration:none;padding:10px 15px; display:block;-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;}
#tabMap li a:hover{background:#f2f2f2;}

#tabMap li a.active{text-decoration:none;border:1px solid #CCC; border-bottom:1px solid #fff; display:inline-block;}

.about-content  .media {
  margin-top: 15px;
}
.about-content .media:first-child {
  margin-top: 0; margin-bottom:25px;
}
.about-content  .media, .about-content  .media-body {
  zoom: 1;
  overflow: hidden;
}
.about-content  .media-body {}
.about-content  .media-object {
  display: block;
}
.about-content  .media-object.img-thumbnail {
  max-width: none;
}
.about-content .media-right,
.about-content  .media > .pull-right {
  padding-left: 10px; width:360px; text-align:right;
}
.about-content  .media-left,
.about-content  .media > .pull-left {
  padding-right: 10px;
}
.about-content  .media-left, .about-content  .media-right,
.about-content  .media-body {
  display: table-cell;
  vertical-align: middle;
}
.about-content  .media-middle {
  vertical-align: middle;
}
.about-content  .media-bottom {
  vertical-align: bottom;
}
.about-content  .media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.about-content  .media-list {
  padding-left: 0;
  list-style: none;
}

.locationAdvantagesList {
    list-style: outside none disc;
    padding: 15px 0 15px 20px;
}
.locationAdvantagesList li {
    margin: 0 0 5px;
    padding-left: 15px;
    position: relative;
}
.locationAdvantagesList li::before {
    background: #333 none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    display: block;
    height: 7px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 7px;
}


	
	


/* css edit End*/






.offerBox{
margin: 0;
padding:0; color:#f2f2f2;
margin: 0 auto;
position: absolute;
bottom:30px; font-size:14px;
z-index: 999;
width:100%;
left:0%;
}
.innerBoxOffer{ background: rgba(243, 75, 100, 0.1); padding:15px; max-width:500px; width:100%; text-align:left;}


@media only screen and (min-width: 320px) and (max-width: 767px){
.jcarousel li{width:250PX;}
    .offerBox{display: none;}
 
    
}



